In [40]:
import pipe
import pandas as pd

keepers = [
    pd.read_csv("../Data/FBREF_2020-21/" + f)
    for f in ["keeper_21.csv", "keeper_adv_21.csv"]
]
players = [
    pd.read_csv("../Data/FBREF_2020-21/" + f)
    for f in [
        "passing_21.csv",
        "possession_21.csv",
        "player_stats_21.csv",
        "misc_21.csv",
        "defense_21.csv",
        "shooting_21.csv",
        #"playing_time_21.csv",
        "passing_type_21.csv",
        "gsc_21.csv",
    ]
]
data_df = players[0]
for df in players[1:]:
    data_df = pd.concat([data_df, df], axis = 1)

data_df
# on=["Rk","Player","Nation","Pos","Squad","Age","Born","90s","Matches","-9999"]
#["Rk","Player","Nation","Pos","Squad","Age","Born","Matches","-9999"]

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Cmp,Att,...,GCA,GCA90,PassLive.1,PassDead.1,Drib.1,Sh.1,Fld.1,Def.1,Matches,-9999
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,29,1990,19.7,906,1164,...,3,0.15,2,1,0,0,0,0,Matches,5f09991f
1,2,Tammy Abraham,eng ENG,FW,Chelsea,22,1997,11.6,149,211,...,2,0.17,1,0,0,0,1,0,Matches,f586779e
2,3,Che Adams,sct SCO,FW,Southampton,24,1996,29.6,431,622,...,7,0.24,6,0,0,0,1,0,Matches,f2bf1b0f
3,4,Tosin Adarabioyo,eng ENG,DF,Fulham,22,1997,32.8,1647,1918,...,1,0.03,1,0,0,0,0,0,Matches,c81d773d
4,5,Adrián,es ESP,GK,Liverpool,33,1987,3.0,78,100,...,0,0.00,0,0,0,0,0,0,Matches,f76e6b4e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,528,Andi Zeqiri,ch SUI,FWDF,Brighton,21,1999,1.9,21,44,...,1,0.52,1,0,0,0,0,0,Matches,d01231f0
528,529,Oleksandr Zinchenko,ua UKR,DF,Manchester City,23,1996,16.4,1340,1517,...,2,0.12,2,0,0,0,0,0,Matches,51cf8561
529,530,Hakim Ziyech,ma MAR,MFFW,Chelsea,27,1993,13.0,547,742,...,6,0.46,5,1,0,0,0,0,Matches,6622454d
530,531,Kurt Zouma,fr FRA,DF,Chelsea,25,1994,22.5,1616,1781,...,0,0.00,0,0,0,0,0,0,Matches,ce4246f5
531,532,Martin Ødegaard,no NOR,MF,Arsenal,21,1998,9.6,462,533,...,5,0.52,5,0,0,0,0,0,Matches,79300479

In [22]:
data_df

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,SCA,SCA90,...,GCA,GCA90,PassLive.1,PassDead.1,Drib.1,Sh.1,Fld.1,Def.1,Matches,-9999
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,29,1990,19.7,30,1.52,...,3,0.15,2,1,0,0,0,0,Matches,5f09991f
1,2,Tammy Abraham,eng ENG,FW,Chelsea,22,1997,11.6,17,1.47,...,2,0.17,1,0,0,0,1,0,Matches,f586779e
2,3,Che Adams,sct SCO,FW,Southampton,24,1996,29.6,68,2.29,...,7,0.24,6,0,0,0,1,0,Matches,f2bf1b0f
3,4,Tosin Adarabioyo,eng ENG,DF,Fulham,22,1997,32.8,18,0.55,...,1,0.03,1,0,0,0,0,0,Matches,c81d773d
4,5,Adrián,es ESP,GK,Liverpool,33,1987,3.0,0,0.00,...,0,0.00,0,0,0,0,0,0,Matches,f76e6b4e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,528,Andi Zeqiri,ch SUI,FWDF,Brighton,21,1999,1.9,4,2.09,...,1,0.52,1,0,0,0,0,0,Matches,d01231f0
528,529,Oleksandr Zinchenko,ua UKR,DF,Manchester City,23,1996,16.4,32,1.95,...,2,0.12,2,0,0,0,0,0,Matches,51cf8561
529,530,Hakim Ziyech,ma MAR,MFFW,Chelsea,27,1993,13.0,73,5.60,...,6,0.46,5,1,0,0,0,0,Matches,6622454d
530,531,Kurt Zouma,fr FRA,DF,Chelsea,25,1994,22.5,14,0.62,...,0,0.00,0,0,0,0,0,0,Matches,ce4246f5
531,532,Martin Ødegaard,no NOR,MF,Arsenal,21,1998,9.6,42,4.36,...,5,0.52,5,0,0,0,0,0,Matches,79300479

In [ ]:
from modules import data_collection
import pandas as pd
from numpy import NaN
import os

import _pickle as cPickle
["defense_21.csv"]
dataframes = [pd.read_csv("../Data/FBREF_2020-21/" + f) for f in os.listdir("../Data/FBREF_2020-21/")]


['passing_21.csv',
 'possession_21.csv',
 'player_stats_21.csv',
 'misc_21.csv',
 'defense_21.csv',
 'shooting_21.csv',
 'playing_time_21.csv',
 'passing_type_21.csv',
 'gsc_21.csv']

player_df = dataframes.pop()

dataframes = [f.drop(["Squad","Age","90s",'Rk','Nation','Pos','Born','Matches'], axis = 1) for f in dataframes]

player_df.drop(['Rk','Nation','Pos','Born','Matches'], axis = 1, inplace = True)
player_df = player_df.reset_index(drop=True).T.reset_index(drop=True).T

for table in dataframes:
    table = table.reset_index(drop=True).T.reset_index(drop=True).T
    player_df = player_df.join(table)


player_df = player_df.T.drop_duplicates().T
player_df = player_df.reset_index(drop=True).T.reset_index(drop=True).T
print(player_df.shape)

player_df = player_df.fillna(0)
player_df.T.iloc[0].value_counts()

In [ ]:

player_df.drop(player_df.loc[player_df.Player.isin(player_df.Player.value_counts()[:8].index.to_list())].index, inplace = True)

fpl = pd.read_csv('../Data/FPL_21.csv')[['first_name','second_name','element_type','total_points']]
fpl = fpl.assign(Player = fpl.first_name + ' ' + fpl.second_name).drop(['first_name','second_name'], axis = 1)

player_df.assign(FPL_points = player_df.Player.map(lambda x : fpl[fpl.Player == x].total_points.values[0] if x in fpl.Player.to_list() else 0))

with open(r"../Data/test_optimize.pickle", "wb") as output_file:
    cPickle.dump(player_df, output_file)