In [1]:
from modules import data_collection
import pandas as pd
import numpy as np
import os
from functools import reduce

In [2]:
dataframes = [pd.read_csv("../Data/2020-2021/" + f) for f in os.listdir("../Data/2020-2021/")]

player_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player', 'Nation', 'Squad','Born'],
                                            how='outer'), dataframes)
player_df = player_df.T.drop_duplicates().T
dup_players = set()
for player in player_df.Player:
    if player_df.Player.value_counts()[player] == 2:
        dup_players.add(player)

player_df.loc[player_df.Player.isin(dup_players)].sort_values(by='Player')

/tmp/ipykernel_12037/690877236.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'-9999_x', 'Rk_x', 'Pos_x', 'Age_x', 'Matches_x', '90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  player_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player', 'Nation', 'Squad','Born'],
/tmp/ipykernel_12037/690877236.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'-9999_x', 'Rk_x', 'Pos_x', 'Age_x', 'Matches_x', '90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  player_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player', 'Nation', 'Squad','Born'],
/tmp/ipykernel_12037/690877236.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Att_x', '-9999_x', 'Rk_x', 'Pos_x', 'Age_x', '90s_x', 'Matches_x'} in the result is deprecated and will raise a MergeError in a future version.
  player_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player', 'Nation', 'Squad','Born'],
/tmp/ipykernel_12037/690877236.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'-9999_x', 'Rk_x', 'Pos_x', 'Age_x', 'Matches_x', '90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  player_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player', 'Nation', 'Squad','Born'],

,Rk_x,Player,Nation,Pos_x,Squad,Age_x,Born,MP_x,Starts_x,Min_x,...,FK,TB,Sw,TI,CK_y,In,Out,Str,Off_y,Blocks_y
288,289.0,Ainsley Maitland-Niles,eng ENG,MFDF,Arsenal,22.0,1997.0,11.0,5.0,490.0,...,3.0,0.0,3.0,32.0,0.0,0.0,0.0,0.0,0.0,6.0
289,290.0,Ainsley Maitland-Niles,eng ENG,MF,West Brom,22.0,1997.0,15.0,14.0,1230.0,...,1.0,0.0,3.0,3.0,2.0,1.0,0.0,0.0,4.0,13.0
114,115.0,Ben Davies,wls WAL,DF,Tottenham,27.0,1993.0,20.0,14.0,1346.0,...,12.0,0.0,2.0,137.0,1.0,1.0,0.0,0.0,2.0,21.0
556,NaN,Ben Davies,eng ENG,NaN,Liverpool,NaN,1995.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,NaN,Dale Stephens,eng ENG,NaN,Brighton,NaN,1989.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,453.0,Dale Stephens,eng ENG,MF,Burnley,31.0,1989.0,7.0,3.0,261.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
594,NaN,Diogo Jota,pt POR,NaN,Wolves,NaN,1996.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,230.0,Diogo Jota,pt POR,FW,Liverpool,23.0,1996.0,19.0,12.0,1112.0,...,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,4.0,18.0
267,268.0,Jesse Lingard,eng ENG,MFFW,West Ham,27.0,1992.0,16.0,16.0,1421.0,...,15.0,1.0,2.0,11.0,10.0,4.0,3.0,0.0,4.0,14.0
604,NaN,Jesse Lingard,eng ENG,NaN,Manchester Utd,NaN,1992.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
517,518.0,Joe Willock,eng ENG,MF,Newcastle Utd,20.0,1999.0,14.0,11.0,978.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,6.0
516,517.0,Joe Willock,eng ENG,MF,Arsenal,20.0,1999.0,7.0,2.0,238.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
414,415.0,Mathew Ryan,au AUS,GK,Arsenal,28.0,1992.0,3.0,3.0,270.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415,416.0,Mathew Ryan,au AUS,GK,Brighton,28.0,1992.0,11.0,11.0,990.0,...,30.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
446,447.0,Robert Snodgrass,sct SCO,MFFW,West Brom,32.0,1987.0,8.0,6.0,526.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
447,448.0,Robert Snodgrass,sct SCO,FWMF,West Ham,32.0,1987.0,3.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,45.0,Ross Barkley,eng ENG,FWMF,Chelsea,26.0,1993.0,2.0,0.0,42.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,44.0,Ross Barkley,eng ENG,MF,Aston Villa,26.0,1993.0,24.0,18.0,1531.0,...,21.0,0.0,4.0,6.0,56.0,23.0,9.0,7.0,2.0,11.0
273,274.0,Ruben Loftus-Cheek,eng ENG,MFFW,Fulham,24.0,1996.0,30.0,21.0,1909.0,...,3.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,20.0
272,273.0,Ruben Loftus-Cheek,eng ENG,FW,Chelsea,24.0,1996.0,1.0,1.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
323,324.0,Takumi Minamino,jp JPN,MFFW,Liverpool,25.0,1995.0,9.0,2.0,293.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0
322,323.0,Takumi Minamino,jp JPN,MF,Southampton,25.0,1995.0,10.0,9.0,711.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,13.0
497,498.0,Theo Walcott,eng ENG,MFFW,Southampton,31.0,1989.0,21.0,20.0,1618.0,...,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,13.0
498,499.0,Theo Walcott,eng ENG,FW,Everton,31.0,1989.0,1.0,0.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
player_df.drop(['Rk_x', 'Nation'], axis=1)

,Player,Pos_x,Squad,Age_x,Born,MP_x,Starts_x,Min_x,90s_x,Gls_x,...,FK,TB,Sw,TI,CK_y,In,Out,Str,Off_y,Blocks_y
0,Patrick van Aanholt,DF,Crystal Palace,29.0,1990.0,22.0,20.0,1777.0,19.7,0.0,...,31.0,0.0,4.0,159.0,2.0,0.0,2.0,0.0,13.0,26.0
1,Tammy Abraham,FW,Chelsea,22.0,1997.0,22.0,12.0,1040.0,11.6,6.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
2,Che Adams,FW,Southampton,24.0,1996.0,36.0,30.0,2667.0,29.6,9.0,...,1.0,7.0,3.0,1.0,0.0,0.0,0.0,0.0,5.0,19.0
3,Tosin Adarabioyo,DF,Fulham,22.0,1997.0,33.0,33.0,2953.0,32.8,0.0,...,35.0,0.0,8.0,7.0,0.0,0.0,0.0,0.0,4.0,11.0
4,Adrián,GK,Liverpool,33.0,1987.0,3.0,3.0,270.0,3.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Reece Welch,NaN,Everton,NaN,2003.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,Connor Wickham,NaN,Crystal Palace,NaN,1993.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,Ben Woodburn,NaN,Liverpool,NaN,1999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,Sam Woods,NaN,Crystal Palace,NaN,1998.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,Karlo Ziger,NaN,Chelsea,NaN,2001.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
column_names = player_df.columns.to_list()
for i, col in enumerate(column_names):
    if (col[:-2] in player_df.columns.to_list() or col in player_df.columns.to_list()) and col[-2:] in ['_x', '_y']:
        try:
            player_df[col[:-2]].fillna(player_df[col], inplace = True)
            player_df.drop(col, axis =1, inplace=True)
        except:
             player_df[col].fillna(player_df[col], inplace = True)

/tmp/ipykernel_12037/2486642800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_df[col].fillna(player_df[col], inplace = True)
/tmp/ipykernel_12037/2486642800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_df[col].fillna(player_df[col], inplace = True)
/tmp/ipykernel_12037/2486642800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_df[col].fillna(player_df[col], inplace = True)
/tmp/ipykernel_12037/2486642800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_df[col].fillna(player_df[col], inplace = True)
/tmp/ipykernel_12037/2486642800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_df[col].fillna(player_df[col], inplace = True)
/tmp/ipykernel_12037/2486642800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_df[col].fillna(player_df[col], inplace = True)
/tmp/ipykernel_12037/2486642800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_df[col].fillna(player_df[col], inplace = True)

In [5]:
player_df.columns.to_list()

['Rk_x',
 'Player',
 'Nation',
 'Pos_x',
 'Squad',
 'Age_x',
 'Born',
 '90s_x',
 'Gls_x',
 'Ast_x',
 'G-PK',
 'PK_x',
 'CrdY_x',
 'CrdR_x',
 'Gls.1',
 'Ast.1',
 'G+A',
 'G-PK.1',
 'G+A-PK',
 'xG_x',
 'npxG_x',
 'xAG_x',
 'npxG+xAG',
 'xG.1',
 'xAG.1',
 'xG+xAG',
 'npxG.1',
 'npxG+xAG.1',
 'Matches_x',
 '-9999_x',
 'SCA',
 'SCA90',
 'PassLive',
 'PassDead',
 'Drib',
 'Fld_x',
 'Def',
 'GCA',
 'GCA90',
 'PassLive.1',
 'PassDead.1',
 'Drib.1',
 'Sh.1',
 'Fld.1',
 'Def.1',
 'Tkl',
 'TklW_x',
 'Def 3rd_x',
 'Mid 3rd_x',
 'Att 3rd_x',
 'Tkl.1',
 'Att_x',
 'Tkl%',
 'Past',
 'Blocks_x',
 'Pass',
 'Int_x',
 'Tkl+Int',
 'Clr',
 'Err',
 'Touches',
 'Def Pen',
 'Def 3rd_y',
 'Mid 3rd_y',
 'Att 3rd_y',
 'Att Pen',
 'Live_x',
 'Succ',
 'Att_y',
 'Succ%',
 'Mis',
 'Dis',
 'Rec',
 'Prog_x',
 'Rk_x',
 'Pos_x',
 'Age_x',
 '90s_x',
 'GA_x',
 'PKA_x',
 'CK_x',
 'OG_x',
 'PSxG',
 'PSxG/SoT',
 'PSxG+/-',
 '/90',
 'Cmp_x',
 'Att_x',
 'Cmp%_x',
 'Att.1_x',
 'Thr',
 'Launch%',
 'AvgLen',
 'Att.2_x',
 'Launch%.1',
 'AvgLen.1',
 'Opp',
 'Stp',
 'Stp%',
 '#OPA',
 '#OPA/90',
 'AvgDist',
 'Matches_x',
 '-9999_x',
 'Rk_y',
 'Pos_y',
 'Age_y',
 'Mn/MP',
 'Min%',
 'Mn/Start',
 'Compl',
 'Subs',
 'Mn/Sub',
 'unSub',
 'PPM',
 'onG',
 'onGA',
 '+/-',
 '+/-90',
 'On-Off',
 'onxG',
 'onxGA',
 'xG+/-',
 'xG+/-90',
 'On-Off.1',
 'Matches_y',
 '-9999_y',
 '2CrdY',
 'Fls',
 'Fld_y',
 'Off_x',
 'Crs_x',
 'PKwon',
 'PKcon',
 'OG_y',
 'Recov',
 'Won',
 'Lost',
 'Won%',
 'Cmp_y',
 'Att_y',
 'Cmp%_y',
 'TotDist',
 'PrgDist',
 'Cmp.1',
 'Att.1_y',
 'Cmp%.1',
 'Cmp.2',
 'Att.2_y',
 'Cmp%.2',
 'Cmp.3',
 'Att.3',
 'Cmp%.3',
 'xA',
 'A-xAG',
 'KP',
 '1/3',
 'PPA',
 'CrsPA',
 'Prog_y',
 'Sh',
 'SoT',
 'SoT%',
 'Sh/90',
 'SoT/90',
 'G/Sh',
 'G/SoT',
 'Dist',
 'npxG/Sh',
 'G-xG',
 'np:G-xG',
 'MP',
 'Starts',
 'Min',
 'GA90',
 'SoTA',
 'Saves',
 'Save%',
 'W',
 'D',
 'L',
 'CS',
 'CS%',
 'PKatt',
 'PKsv',
 'PKm',
 'Save%.1',
 'Live_y',
 'Dead',
 'FK',
 'TB',
 'Sw',
 'TI',
 'CK_y',
 'In',
 'Out',
 'Str',
 'Off_y',
 'Blocks_y']