In [19]:
from modules import data_collection
import pandas as pd
import numpy as np

In [20]:
data = data_collection.FPL_Data_Collection()
player_df = pd.DataFrame(data.get_player_data())
team_df = pd.DataFrame(data.get_team_data())
pos_df = pd.DataFrame(data.get_positional_data())

## Team

In [21]:
team_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1200,1270,1160,1230,1160,1240,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1090,1100,1110,1110,1070,1090,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1050,1070,1070,1110,1040,1070,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1150,1100,1150,1140,1170,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1140,1140,1170,1160,1150,1170,131

In [22]:
slim_team_df = team_df[['short_name','code','strength_overall_home','strength_overall_away','strength_attack_home','strength_attack_away','strength_defence_home','strength_defence_away']]

## Positions

In [23]:
pos_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],70
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],234
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],286
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],77

In [24]:
slim_pos_df = pos_df.drop(['plural_name','singular_name','plural_name_short','ui_shirt_specific','sub_positions_locked','element_count'], axis = 1)

## Players

In [25]:
player_df.team_code

0       3
1       3
2       3
3       3
4       3
       ..
662    39
663    39
664    39
665    39
666    39
Name: team_code, Length: 667, dtype: int64

In [26]:
player_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100.0,100.0,58822,0,0,-3,3,0,2,1.2,...,544,157,258,78,376,141,401,148,0.00000,0.00000
1,NaN,NaN,84450,0,0,1,-1,1,3,2.8,...,171,99,122,63,42,20,83,28,0.07719,0.46312
2,100.0,100.0,153256,0,0,-3,3,1,3,1.2,...,551,284,259,127,343,150,209,69,0.00000,0.00000
3,NaN,NaN,156074,0,0,-3,3,0,2,0.8,...,552,163,338,112,379,144,419,155,0.00000,0.00000
4,100.0,100.0,167199,0,0,-2,2,0,3,5.2,...,260,157,45,26,73,35,245,80,0.09385,0.65693

In [27]:
slim_player_df = player_df[
    [
        "chance_of_playing_next_round",
        "chance_of_playing_this_round",
        "element_type",
        "ep_next",
        "ep_this",
        "event_points",
        "form",
        "id",
        "now_cost",
        "points_per_game",
        "selected_by_percent",
        "squad_number",
        "status",
        "team",
        "team_code",
        "total_points",
        "value_form",
        "value_season",
        "web_name",
        "minutes",
        "goals_scored",
        "assists",
        "clean_sheets",
        "goals_conceded",
        "own_goals",
        "penalties_saved",
        "penalties_missed",
        "yellow_cards",
        "red_cards",
        "saves",
        "bonus",
        "bps",
        "influence",
        "creativity",
        "threat",
        "ict_index",
        "starts",
        "expected_goals",
        "expected_assists",
        "expected_goal_involvements",
        "expected_goals_conceded",
        "influence_rank",
        "influence_rank_type",
        "creativity_rank",
        "creativity_rank_type",
        "threat_rank",
        "threat_rank_type",
        "ict_index_rank",
        "ict_index_rank_type",
        "corners_and_indirect_freekicks_order",
        "direct_freekicks_order",
        "penalties_order",
        "expected_goals_per_90",
        "saves_per_90",
        "expected_assists_per_90",
        "expected_goal_involvements_per_90",
        "expected_goals_conceded_per_90",
        "goals_conceded_per_90",
        "now_cost_rank",
        "now_cost_rank_type",
        "form_rank",
        "form_rank_type",
        "points_per_game_rank",
        "points_per_game_rank_type",
        "selected_rank",
        "selected_rank_type",
        "starts_per_90",
        "clean_sheets_per_90",
    ]
]

In [28]:
from modules import data_cleaning

In [29]:
slim_player_df = data_cleaning.convert_to_float(slim_player_df)

/home/caleb/Projects/LHL_Final_Project/src/modules/data_cleaning.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].astype("string")
/home/caleb/Projects/LHL_Final_Project/src/modules/data_cleaning.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].astype("float")

In [30]:
slim_player_df = slim_player_df.dropna(how='all', axis = 1)

In [31]:
slim_player_df = slim_player_df.fillna(0)
slim_player_df.status = slim_player_df.status.map({'i' : 'injury', 'u' : 'unavailable', 'd' : 'decision', 'a' : 'available', 's' : 'suspect'})

In [32]:
import _pickle as cPickle
with open(r"../Data/players.pickle", "wb") as output_file:
    cPickle.dump(slim_player_df, output_file)

with open(r"../Data/position.pickle", "wb") as output_file:
    cPickle.dump(slim_pos_df, output_file)
    
with open(r"../Data/team.pickle", "wb") as output_file:
    cPickle.dump(slim_team_df, output_file)

In [35]:
slim_player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 68 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          667 non-null    float64
 1   chance_of_playing_this_round          667 non-null    float64
 2   code                                  667 non-null    int64
 3   element_type                          667 non-null    int64
 4   ep_next                               667 non-null    float64
 5   ep_this                               667 non-null    float64
 6   event_points                          667 non-null    int64
 7   form                                  667 non-null    float64
 8   id                                    667 non-null    int64
 9   now_cost                              667 non-null    int64
 10  points_per_game                       667 non-null    float64
 11  selected_by_percent                   667 non-null    float64
 12  status                                667 non-null    object
 13  team                                  667 non-null    int64
 14  team_code                             667 non-null    int64
 15  total_points                          667 non-null    int64
 16  value_form                            667 non-null    float64
 17  value_season                          667 non-null    float64
 18  web_name                              667 non-null    string
 19  minutes                               667 non-null    int64
 20  goals_scored                          667 non-null    int64
 21  assists                               667 non-null    int64
 22  clean_sheets                          667 non-null    int64
 23  goals_conceded                        667 non-null    int64
 24  own_goals                             667 non-null    int64
 25  penalties_saved                       667 non-null    int64
 26  penalties_missed                      667 non-null    int64
 27  yellow_cards                          667 non-null    int64
 28  red_cards                             667 non-null    int64
 29  saves                                 667 non-null    int64
 30  bonus                                 667 non-null    int64
 31  bps                                   667 non-null    int64
 32  influence                             667 non-null    float64
 33  creativity                            667 non-null    float64
 34  threat                                667 non-null    float64
 35  ict_index                             667 non-null    float64
 36  starts                                667 non-null    int64
 37  expected_goals                        667 non-null    float64
 38  expected_assists                      667 non-null    float64
 39  expected_goal_involvements            667 non-null    float64
 40  expected_goals_conceded               667 non-null    float64
 41  influence_rank                        667 non-null    int64
 42  influence_rank_type                   667 non-null    int64
 43  creativity_rank                       667 non-null    int64
 44  creativity_rank_type                  667 non-null    int64
 45  threat_rank                           667 non-null    int64
 46  threat_rank_type                      667 non-null    int64
 47  ict_index_rank                        667 non-null    int64
 48  ict_index_rank_type                   667 non-null    int64
 49  corners_and_indirect_freekicks_order  667 non-null    float64
 50  direct_freekicks_order                667 non-null    float64
 51  penalties_order                       667 non-null    float64
 52  expected_goals_per_90                 667 non-null    float64
 53  saves_per_90                          667 non-null    float64
 54  expected_assists_per_90               667 non-null    float64
 55  expected_goal_involvements_per_90     667 non-null    float64
 56  expected_goals_conceded_per_90        667 non-null    float64
 57  goals_conceded_per_90                 667 non-null    float64
 58  now_cost_rank                         667 non-null    int64
 59  now_cost_rank_type                    667 non-null    int64
 60  form_rank                             667 non-null    int64
 61  form_rank_type                        667 non-null    int64
 62  points_per_game_rank                  667 non-null    int64
 63  points_per_game_rank_type             667 non-null    int64
 64  selected_rank                         667 non-null    int64
 65  selected_rank_type                    667 non-null    int64
 66  starts_per_90                         667 non-null    float64
 67  clean_sheets_per_90                   667 non-null    float64
dtypes: float64(28), int64(38), object(1), string(1)
memory usage: 354.5+ KB