In [59]:
import pandas as pd
import _pickle as cPickle


players = [
    pd.read_csv("../Data/FBREF_2021-22/" + f)
    for f in [
        "passing_22.csv",
        "possession_22.csv",
        "player_stats_22.csv",
        "misc_22.csv",
        "defense_22.csv",
        "shooting_22.csv",
        "passing_type_22.csv",
        "gsc_22.csv",
        "keeper_22.csv",
        "keeper_adv_22.csv"
    ]
]
cols_to_use = []
data_df = players[0]
for df in players[1:]:
    data_df = pd.concat([data_df, df[df.columns.difference(data_df.columns).to_list()]], axis = 1)

data_df.drop(["Matches","-9999","Rk","Born","Pos","Nation"], axis=1, inplace=True)
fpl = pd.read_csv('../Data/FPL_23.csv')[['first_name','second_name','element_type','now_cost','total_points']]
fpl = fpl.assign(Player = fpl.first_name + ' ' + fpl.second_name).drop(['first_name','second_name'], axis = 1)
data_df = data_df
data_df = data_df.assign(Position = data_df.Player.map(lambda x : fpl[fpl.Player == x].element_type.values[0] if x in fpl.Player.to_list() else 0))
data_df = data_df.assign(Cost = data_df.Player.map(lambda x : fpl[fpl.Player == x].now_cost.values[0] if x in fpl.Player.to_list() else 0))
data_df = data_df.assign(FPL_points = data_df.Player.map(lambda x : fpl[fpl.Player == x].total_points.values[0] if x in fpl.Player.to_list() else 0))
data_df = data_df.loc[data_df.Player.isin(fpl.Player)]
data_df = data_df.fillna(0)
data_df = data_df.infer_objects()

with open(r"../Data/FBREF_22_23.pickle", "wb") as output_file:
    cPickle.dump(data_df, output_file)

In [57]:
data_df.dtypes

Player           object
Squad            object
Age               int64
90s             float64
Cmp             float64
                 ...
Stp%            float64
Thr             float64
element_type     object
now_cost          int64
total_points      int64
Length: 150, dtype: object

In [58]:
data_df.loc[data_df.Player.isin(fpl.Player)]

,Player,Squad,Age,90s,Cmp,Att,Cmp%,TotDist,PrgDist,Cmp.1,...,Opp,PSxG,PSxG+/-,PSxG/SoT,Stp,Stp%,Thr,element_type,now_cost,total_points
0,Che Adams,Southampton,25,22.7,304.0,472.0,64.4,4188.0,1017.0,188.0,...,15.0,1.2,0.2,0.39,1.0,6.7,3.0,FWD,64,50
1,Kristoffer Ajer,Brentford,23,22.2,627.0,892.0,70.3,10133.0,4739.0,303.0,...,187.0,23.2,-2.8,0.30,7.0,3.7,47.0,DEF,45,15
2,Nathan Aké,Manchester City,26,10.3,796.0,878.0,90.7,13200.0,4534.0,373.0,...,50.0,4.2,-2.8,0.18,3.0,6.0,5.0,DEF,50,26
3,Marc Albrighton,Leicester City,31,12.6,347.0,558.0,62.2,5152.0,2040.0,220.0,...,139.0,9.7,-1.3,0.31,11.0,7.9,40.0,MID,47,3
4,Trent Alexander-Arnold,Liverpool,22,31.7,2039.0,2757.0,74.0,40112.0,15682.0,841.0,...,106.0,9.5,-4.5,0.21,5.0,4.7,28.0,DEF,72,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Wilfried Zaha,Crystal Palace,28,30.7,753.0,974.0,77.3,10942.0,2907.0,432.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,MID,75,64
322,Oleksandr Zinchenko,Manchester City,24,11.6,953.0,1073.0,88.8,14439.0,4109.0,529.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,DEF,50,36
323,Hakim Ziyech,Chelsea,28,14.7,544.0,755.0,72.1,7935.0,2498.0,336.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,MID,55,6
324,Kurt Zouma,West Ham,26,23.1,875.0,999.0,87.6,16585.0,5517.0,300.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,DEF,45,47
325,Martin Ødegaard,Arsenal,22,30.9,1368.0,1633.0,83.8,21846.0,5049.0,681.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,MID,64,77

In [45]:
fpl.shape

(667, 3)