In [1]:
import pandas as pd
from modules import constants

raw_data = pd.read_html(constants.FBREF_URLS)

raw_data[1].columns = raw_data[1].columns.map(lambda x: f"{x[0]}_{x[1]}")
squad = pd.merge(raw_data[0], raw_data[1], left_index=True, right_index=True)
opponents = None

for i, table in enumerate(raw_data[2:]):
    try:
        table.columns = table.columns.map(lambda x: f"{x[0]}_{x[1]}")
    except Exception as e:
        pass

    if i % 2 == 0:
        squad = pd.merge(
            squad, table, left_on="Squad", right_on="Unnamed: 0_level_0_Squad"
        )
    else:
        if opponents is None:
            opponents = table
            continue
        else:
            opponents = pd.merge(
                opponents,
                table,
                left_on="Unnamed: 0_level_0_Squad",
                right_on="Unnamed: 0_level_0_Squad",
            )

squad = squad.T.drop_duplicates().T
opponents = opponents.T.drop_duplicates().T

/tmp/ipykernel_914/3399968646.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x', 'Unnamed: 0_level_0_Squad_x'} in the result is deprecated and will raise a MergeError in a future version.
  squad = pd.merge(
/tmp/ipykernel_914/3399968646.py:25: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x'} in the result is deprecated and will raise a MergeError in a future version.
  opponents = pd.merge(
/tmp/ipykernel_914/3399968646.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x', 'Unnamed: 2_level_0_90s_x', 'Unnamed: 0_level_0_Squad_x'} in the result is deprecated and will raise a MergeError in a future version.
  squad = pd.merge(
/tmp/ipykernel_914/3399968646.py:25: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x', 'Unnamed: 2_level_0_90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  opponents = pd.merge(
/tmp/ipykernel_914/3399968646.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x', 'Unnamed: 2_level_0_90s_x', 'Unnamed: 0_level_0_Squad_x'} in the result is deprecated and will raise a MergeError in a future version.
  squad = pd.merge(
/tmp/ipykernel_914/3399968646.py:25: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x', 'Unnamed: 2_level_0_90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  opponents = pd.merge(
/tmp/ipykernel_914/3399968646.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x', 'Unnamed: 0_level_0_Squad_x'} in the result is deprecated and will raise a MergeError in a future version.
  squad = pd.merge(
/tmp/ipykernel_914/3399968646.py:25: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 1_level_0_# Pl_x'} in the result is deprecated and will raise a MergeError in a future version.
  opponents = pd.merge(

In [3]:
import pandas
from modules.constants import FBREF_SEARCH_URL, FBREF_PLAYER_LABELS

def player_search(player_name:str):
    tables = pd.read_html(constants.FBREF_SEARCH_URL+player_name.replace(' ','+'))
    table_num = len(tables)
    scout_num = int((table_num - 9) / 2)
    table_names = []
    for i in range(scout_num):
        table_names.append(f'scout_{i}')
        table_names.append(f'similar_{i}')
        table_names.sort()

    table_names += FBREF_PLAYER_LABELS
    return dict(zip(table_names, tables))

In [4]:
test = player_search('Lionel Messi')

In [5]:
test.keys()

dict_keys(['scout_0', 'scout_1', 'similar_0', 'similar_1', 'standard_stats', 'shooting', 'passing', 'pass_types', 'goal_shot', 'defensive', 'possession', 'playing_time', 'misc'])

In [6]:
squad

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Subs_unSub,Team Success_+/-90,Performance_2CrdY,Performance_Fls,Performance_Fld,Performance_PKwon,Performance_Recov,Aerial Duels_Won,Aerial Duels_Lost,Aerial Duels_Won%
0,1,Manchester City,38,29,6,3,99,26,73,93,...,261,1.92,0,321,330,7,1967,482,397,54.8
1,2,Liverpool,38,28,8,2,94,26,68,92,...,231,1.79,0,363,286,5,2265,571,467,55.0
2,3,Chelsea,38,21,11,6,76,33,43,74,...,226,1.13,0,409,392,8,2084,538,486,52.5
3,4,Tottenham,38,22,5,11,69,40,29,71,...,236,0.76,1,386,406,3,1893,560,500,52.8
4,5,Arsenal,38,22,3,13,61,48,13,69,...,232,0.34,3,365,357,6,1861,463,572,44.7
5,6,Manchester Utd,38,16,10,12,57,57,0,58,...,227,0.0,1,396,320,3,2071,555,443,55.6
6,7,West Ham,38,16,8,14,60,51,9,56,...,247,0.24,2,323,276,3,1970,639,628,50.4
7,8,Leicester City,38,14,10,14,62,59,3,52,...,232,0.08,0,356,396,1,2015,530,553,48.9
8,9,Brighton,38,12,15,11,42,44,-2,51,...,231,-0.05,0,393,355,4,2154,569,498,53.3
9,10,Wolves,38,15,6,17,38,43,-5,51,...,230,-0.13,2,366,335,1,2104,461,490,48.5
10,11,Newcastle Utd,38,13,10,15,44,62,-18,49,...,233,-0.47,1,392,366,1,1835,677,619,52.2
11,12,Crystal Palace,38,11,15,12,50,46,4,48,...,229,0.11,1,414,481,6,2103,610,619,49.6
12,13,Brentford,38,13,7,18,48,56,-8,46,...,223,-0.21,2,371,363,6,2061,717,728,49.6
13,14,Aston Villa,38,13,6,19,52,54,-2,45,...,228,-0.05,1,401,504,2,1850,538,561,49.0
14,15,Southampton,38,9,13,16,43,67,-24,40,...,232,-0.63,1,402,363,4,2224,673,726,48.1
15,16,Everton,38,11,6,21,43,66,-23,39,...,240,-0.61,2,368,388,7,2023,634,725,46.7
16,17,Leeds United,38,9,11,18,42,79,-37,38,...,234,-0.97,0,469,368,4,2260,470,626,42.9
17,18,Burnley,38,7,14,17,34,53,-19,35,...,244,-0.5,0,394,332,2,2027,827,733,53.0
18,19,Watford,38,6,5,27,34,77,-43,23,...,234,-1.13,3,442,352,2,2154,711,749,48.7
19,20,Norwich City,38,5,7,26,23,84,-61,22,...,227,-1.61,1,356,431,2,1887,493,598,45.2