In [1]:

import pandas as pd
import numpy as np
import pickle
import scipy as spy
import requests
import seaborn as sns
from modules import data_collection

In [2]:
json = data_collection.FPL_Data_Collection().get_full_json()

In [3]:
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

## EDA

In [4]:
elements_df = pd.DataFrame(json['elements']).convert_dtypes()
element_types_df = pd.DataFrame(json['element_types']).convert_dtypes()
teams_df = pd.DataFrame(json['teams']).convert_dtypes()

In [5]:
elements_df.loc[elements_df.second_name == 'Haaland']

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
423,100,100,223094,0,0,7,-7,5,4,2.0,...,3,1,263,35,2,1,1,1,1.04247,0.43436

### Element Types

In [6]:
element_types_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],70
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],234
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],286
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],77

### Elements

In [7]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100,100,58822,0,0,-3,3,0,2,1.0,...,544,157,266,82,376,141,402,148,0.0,0.0
1,<NA>,<NA>,84450,0,0,1,-1,1,3,2.5,...,171,99,125,63,42,20,83,28,1.08062,0.46312
2,100,100,153256,0,0,-3,3,1,3,1.5,...,551,284,184,98,343,150,209,69,0.95745,0.0
3,<NA>,<NA>,156074,0,0,-3,3,0,2,1.0,...,552,163,268,84,379,144,419,155,0.0,0.0
4,100,100,167199,0,0,-2,2,0,3,3.0,...,260,157,97,49,73,35,245,80,1.03233,0.65693

In [8]:
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [9]:
elements_df[['first_name','second_name','now_cost']]

    first_name     second_name  now_cost
0       CÃ©dric    Alves Soares        42
1       Granit           Xhaka        51
2      Mohamed          Elneny        42
3          Rob         Holding        42
4       Thomas          Partey        48
..         ...             ...       ...
662      Diego  Da Silva Costa        55
663   Boubacar          TraorÃ©        45
664     Nathan          Fraser        45
665     Harvey       Griffiths        45
666     Dexter       Lembikisa        40

[667 rows x 3 columns]

In [10]:
elements_df.describe().T

,count,mean,std,min,25%,50%,75%,max
chance_of_playing_next_round,405.0,65.802469,45.736931,0.0,0.0,100.0,100.0,100.0
chance_of_playing_this_round,402.0,56.716418,48.592808,0.0,0.0,100.0,100.0,100.0
code,667.0,227334.731634,149621.707974,11974.0,109389.5,198849.0,245621.5,601975.0
cost_change_event,667.0,-0.010495,0.139317,-1.0,0.0,0.0,0.0,1.0
cost_change_event_fall,667.0,0.010495,0.139317,-1.0,0.0,0.0,0.0,1.0
cost_change_start,667.0,-1.08096,1.704802,-6.0,-2.0,-1.0,0.0,9.0
cost_change_start_fall,667.0,1.08096,1.704802,-9.0,0.0,1.0,2.0,6.0
dreamteam_count,667.0,0.263868,0.609681,0.0,0.0,0.0,0.0,5.0
element_type,667.0,2.554723,0.82995,1.0,2.0,3.0,3.0,4.0
event_points,667.0,1.230885,2.407584,-1.0,0.0,0.0,1.0,16.0
id,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
now_cost,667.0,49.271364,11.482189,38.0,43.0,45.0,52.0,128.0
team,667.0,10.457271,5.677194,1.0,6.0,10.0,15.0,20.0
team_code,667.0,25.586207,26.52971,1.0,7.0,14.0,36.0,94.0
total_points,667.0,18.311844,21.624253,-1.0,0.0,9.0,31.0,123.0
transfers_in,667.0,288882.715142,746869.193784,0.0,3584.0,25522.0,172282.0,5790784.0
transfers_in_event,667.0,12149.463268,38908.284802,0.0,63.5,430.0,3932.0,471224.0
transfers_out,667.0,288882.715142,667171.169183,3.0,8256.5,41153.0,209400.0,5312174.0
transfers_out_event,667.0,12149.463268,32458.500167,0.0,139.5,992.0,7818.0,419027.0
minutes,667.0,431.4003,469.843217,0.0,0.0,221.0,847.0,1350.0
goals_scored,667.0,0.598201,1.560741,0.0,0.0,0.0,0.0,18.0
assists,667.0,0.535232,1.110908,0.0,0.0,0.0,1.0,10.0
clean_sheets,667.0,1.356822,1.855548,0.0,0.0,0.0,3.0,9.0
goals_conceded,667.0,6.910045,7.880356,0.0,0.0,3.0,13.0,32.0
own_goals,667.0,0.029985,0.170674,0.0,0.0,0.0,0.0,1.0
penalties_saved,667.0,0.010495,0.128087,0.0,0.0,0.0,0.0,2.0
penalties_missed,667.0,0.013493,0.127805,0.0,0.0,0.0,0.0,2.0
yellow_cards,667.0,0.775112,1.258167,0.0,0.0,0.0,1.0,6.0
red_cards,667.0,0.017991,0.133018,0.0,0.0,0.0,0.0,1.0
saves,667.0,1.323838,7.444696,0.0,0.0,0.0,0.0,64.0
bonus,667.0,1.409295,2.659693,0.0,0.0,0.0,2.0,21.0
bps,667.0,78.847076,92.457655,-3.0,0.0,36.0,138.0,517.0
starts,667.0,4.815592,5.446204,0.0,0.0,2.0,10.0,15.0
influence_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
influence_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
creativity_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
creativity_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
threat_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
threat_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
ict_index_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
ict_index_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
corners_and_indirect_freekicks_order,78.0,2.641026,1.38615,1.0,1.25,2.0,4.0,6.0
direct_freekicks_order,59.0,2.135593,1.007859,1.0,1.0,2.0,3.0,4.0
penalties_order,59.0,2.237288,1.103896,1.0,1.0,2.0,3.0,5.0
expected_goals_per_90,667.0,0.086737,0.165221,0.0,0.0,0.01211,0.10139,1.929
saves_per_90,667.0,0.113669,0.59642,0.0,0.0,0.0,0.0,4.53846
expected_assists_per_90,667.0,0.0531,0.087325,0.0,0.0,0.01829,0.076955,1.13271
expected_goal_involvements_per_90,667.0,0.139837,0.208103,0.0,0.0,0.05259,0.20567,2.0085
expected_goals_conceded_per_90,667.0,1.135493,2.628994,0.0,0.0,1.11067,1.49223,60.5628
goals_conceded_per_90,667.0,1.246462,2.656306,0.0,0.0,1.08,1.615,45.0
now_cost_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
now_cost_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
form_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
form_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
points_per_game_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
points_per_game_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
selected_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
selected_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
starts_per_90,667.0,0.600095,0.633207,0.0,0.0,0.86957,1.022245,9.0
clean_sheets_per_90,667.0,0.151824,0.195415,0.0,0.0,0.0,0.28571,1.40625

In [11]:
elements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 88 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          405 non-null    Int64
 1   chance_of_playing_this_round          402 non-null    Int64
 2   code                                  667 non-null    Int64
 3   cost_change_event                     667 non-null    Int64
 4   cost_change_event_fall                667 non-null    Int64
 5   cost_change_start                     667 non-null    Int64
 6   cost_change_start_fall                667 non-null    Int64
 7   dreamteam_count                       667 non-null    Int64
 8   element_type                          667 non-null    Int64
 9   ep_next                               667 non-null    string
 10  ep_this                               667 non-null    string
 11  event_points                          667 non-null    Int64
 12  first_name                            667 non-null    string
 13  form                                  667 non-null    string
 14  id                                    667 non-null    Int64
 15  in_dreamteam                          667 non-null    boolean
 16  news                                  667 non-null    string
 17  news_added                            405 non-null    string
 18  now_cost                              667 non-null    Int64
 19  photo                                 667 non-null    string
 20  points_per_game                       667 non-null    string
 21  second_name                           667 non-null    string
 22  selected_by_percent                   667 non-null    string
 23  special                               667 non-null    boolean
 24  squad_number                          0 non-null      object
 25  status                                667 non-null    string
 26  team                                  667 non-null    Int64
 27  team_code                             667 non-null    Int64
 28  total_points                          667 non-null    Int64
 29  transfers_in                          667 non-null    Int64
 30  transfers_in_event                    667 non-null    Int64
 31  transfers_out                         667 non-null    Int64
 32  transfers_out_event                   667 non-null    Int64
 33  value_form                            667 non-null    string
 34  value_season                          667 non-null    string
 35  web_name                              667 non-null    string
 36  minutes                               667 non-null    Int64
 37  goals_scored                          667 non-null    Int64
 38  assists                               667 non-null    Int64
 39  clean_sheets                          667 non-null    Int64
 40  goals_conceded                        667 non-null    Int64
 41  own_goals                             667 non-null    Int64
 42  penalties_saved                       667 non-null    Int64
 43  penalties_missed                      667 non-null    Int64
 44  yellow_cards                          667 non-null    Int64
 45  red_cards                             667 non-null    Int64
 46  saves                                 667 non-null    Int64
 47  bonus                                 667 non-null    Int64
 48  bps                                   667 non-null    Int64
 49  influence                             667 non-null    string
 50  creativity                            667 non-null    string
 51  threat                                667 non-null    string
 52  ict_index                             667 non-null    string
 53  starts                                667 non-null    Int64
 54  expected_goals                        667 non-null    string
 55  expected_assists                      667 non-null    string
 56  expected_goal_involvements            667 non-null    string
 57  expected_goals_conceded               667 non-null    string
 58  influence_rank                        667 non-null    Int64
 59  influence_rank_type                   667 non-null    Int64
 60  creativity_rank                       667 non-null    Int64
 61  creativity_rank_type                  667 non-null    Int64
 62  threat_rank                           667 non-null    Int64
 63  threat_rank_type                      667 non-null    Int64
 64  ict_index_rank                        667 non-null    Int64
 65  ict_index_rank_type                   667 non-null    Int64
 66  corners_and_indirect_freekicks_order  78 non-null     Int64
 67  corners_and_indirect_freekicks_text   667 non-null    string
 68  direct_freekicks_order                59 non-null     Int64
 69  direct_freekicks_text                 667 non-null    string
 70  penalties_order                       59 non-null     Int64
 71  penalties_text                        667 non-null    string
 72  expected_goals_per_90                 667 non-null    Float64
 73  saves_per_90                          667 non-null    Float64
 74  expected_assists_per_90               667 non-null    Float64
 75  expected_goal_involvements_per_90     667 non-null    Float64
 76  expected_goals_conceded_per_90        667 non-null    Float64
 77  goals_conceded_per_90                 667 non-null    Float64
 78  now_cost_rank                         667 non-null    Int64
 79  now_cost_rank_type                    667 non-null    Int64
 80  form_rank                             667 non-null    Int64
 81  form_rank_type                        667 non-null    Int64
 82  points_per_game_rank                  667 non-null    Int64
 83  points_per_game_rank_type             667 non-null    Int64
 84  selected_rank                         667 non-null    Int64
 85  selected_rank_type                    667 non-null    Int64
 86  starts_per_90                         667 non-null    Float64
 87  clean_sheets_per_90                   667 non-null    Float64
dtypes: Float64(8), Int64(52), boolean(2), object(1), string(25)
memory usage: 490.0+ KB

### Teams

In [12]:
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1200,1270,1160,1230,1160,1240,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1090,1100,1110,1110,1070,1090,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1050,1070,1070,1110,1040,1070,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1150,1100,1150,1140,1170,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1140,1140,1170,1160,1150,1170,131

In [13]:
teams_df.columns

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [14]:
teams_df.describe().T

,count,mean,std,min,25%,50%,75%,max
code,20.0,25.75,27.332023,1.0,6.75,15.5,36.75,94.0
draw,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
id,20.0,10.5,5.91608,1.0,5.75,10.5,15.25,20.0
loss,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
played,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
points,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
position,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
strength,20.0,3.25,0.786398,2.0,3.0,3.0,3.25,5.0
win,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
strength_overall_home,20.0,1135.25,83.21619,1045.0,1090.0,1100.0,1162.5,1350.0
strength_overall_away,20.0,1165.0,89.648436,1070.0,1100.0,1145.0,1222.5,1370.0
strength_attack_home,20.0,1137.0,72.627384,1050.0,1090.0,1120.0,1162.5,1340.0
strength_attack_away,20.0,1156.5,76.727474,1050.0,1107.5,1140.0,1190.0,1360.0
strength_defence_home,20.0,1141.0,81.943498,1040.0,1087.5,1140.0,1160.0,1340.0
strength_defence_away,20.0,1164.0,80.811672,1070.0,1107.5,1145.0,1202.5,1360.0
pulse_id,20.0,32.6,42.909206,1.0,8.5,17.5,28.0,131.0

In [15]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   code                   20 non-null     Int64
 1   draw                   20 non-null     Int64
 2   form                   0 non-null      object
 3   id                     20 non-null     Int64
 4   loss                   20 non-null     Int64
 5   name                   20 non-null     string
 6   played                 20 non-null     Int64
 7   points                 20 non-null     Int64
 8   position               20 non-null     Int64
 9   short_name             20 non-null     string
 10  strength               20 non-null     Int64
 11  team_division          0 non-null      object
 12  unavailable            20 non-null     boolean
 13  win                    20 non-null     Int64
 14  strength_overall_home  20 non-null     Int64
 15  strength_overall_away  20 non-null     Int64
 16  strength_attack_home   20 non-null     Int64
 17  strength_attack_away   20 non-null     Int64
 18  strength_defence_home  20 non-null     Int64
 19  strength_defence_away  20 non-null     Int64
 20  pulse_id               20 non-null     Int64
dtypes: Int64(16), boolean(1), object(2), string(2)
memory usage: 3.6+ KB

## Cleaning

In [44]:
elements_df.columns.to_list()

['chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'code',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'dreamteam_count',
 'element_type',
 'ep_next',
 'ep_this',
 'event_points',
 'first_name',
 'form',
 'id',
 'in_dreamteam',
 'news',
 'news_added',
 'now_cost',
 'photo',
 'points_per_game',
 'second_name',
 'selected_by_percent',
 'special',
 'squad_number',
 'status',
 'team',
 'team_code',
 'total_points',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'web_name',
 'minutes',
 'goals_scored',
 'assists',
 'clean_sheets',
 'goals_conceded',
 'own_goals',
 'penalties_saved',
 'penalties_missed',
 'yellow_cards',
 'red_cards',
 'saves',
 'bonus',
 'bps',
 'influence',
 'creativity',
 'threat',
 'ict_index',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'influence_rank',
 'influence_rank_type',
 'creativity_rank',
 'creativity_rank_type',
 'threat_rank',
 'threat_rank_type',
 'ict_index_rank',
 'ict_index_rank_type',
 'corners_and_indirect_freekicks_order',
 'corners_and_indirect_freekicks_text',
 'direct_freekicks_order',
 'direct_freekicks_text',
 'penalties_order',
 'penalties_text',
 'expected_goals_per_90',
 'saves_per_90',
 'expected_assists_per_90',
 'expected_goal_involvements_per_90',
 'expected_goals_conceded_per_90',
 'goals_conceded_per_90',
 'now_cost_rank',
 'now_cost_rank_type',
 'form_rank',
 'form_rank_type',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'selected_rank',
 'selected_rank_type',
 'starts_per_90',
 'clean_sheets_per_90']

In [16]:
elements_df.T[elements_df.dtypes == 'string']

,0,1,2,3,4,5,6,7,8,9,...,657,658,659,660,661,662,663,664,665,666
ep_next,1.0,2.5,1.5,1.0,3.0,10.0,1.0,0.0,7.0,0.5,...,0.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,1.3
ep_this,1.0,2.5,1.5,1.0,3.0,10.0,1.0,0.0,7.0,0.5,...,-0.5,-0.5,1.5,0.5,0.0,0.0,0.5,-0.5,-0.5,0.8
first_name,CÃ©dric,Granit,Mohamed,Rob,Thomas,Martin,Kieran,Nicolas,Benjamin,Eddie,...,Connor,Chem,GonÃ§alo Manuel,Matheus Luiz,Sasa,Diego,Boubacar,Nathan,Harvey,Dexter
form,0.5,2.0,1.0,0.5,2.5,9.5,0.5,0.0,6.5,0.0,...,0.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
news,,,,,,,,Season-long loan to Nice,,,...,,,,,Knee injury - Expected back 01 Jun,,,,,
news_added,2022-09-16T13:30:06.551108Z,<NA>,2022-08-30T11:30:06.278675Z,<NA>,2022-09-25T09:00:06.484502Z,2022-09-18T20:00:06.315087Z,2022-09-26T13:00:06.430643Z,2022-08-26T07:24:29.541862Z,<NA>,<NA>,...,<NA>,<NA>,<NA>,2022-10-29T17:30:07.579364Z,2022-09-03T18:00:06.993294Z,2022-10-28T15:00:08.264065Z,2022-10-11T01:00:07.189826Z,<NA>,<NA>,<NA>
photo,58822.jpg,84450.jpg,153256.jpg,156074.jpg,167199.jpg,184029.jpg,192895.jpg,195735.jpg,198869.jpg,205533.jpg,...,198842.jpg,461026.jpg,181284.jpg,465351.jpg,429414.jpg,18507.jpg,476502.jpg,531363.jpg,449133.jpg,492776.jpg
points_per_game,1.0,4.4,1.3,1.0,3.8,5.9,1.6,0.0,4.7,1.0,...,1.0,1.0,2.3,2.4,1.0,1.2,1.5,0.0,0.0,1.0
second_name,Alves Soares,Xhaka,Elneny,Holding,Partey,Ã˜degaard,Tierney,PÃ©pÃ©,White,Nketiah,...,Ronan,Campbell,Ganchinho Guedes,Nunes,Kalajdzic,Da Silva Costa,TraorÃ©,Fraser,Griffiths,Lembikisa
selected_by_percent,0.1,3.7,0.7,0.1,0.5,14.2,0.8,0.1,10.6,0.4,...,0.1,0.4,0.2,0.1,0.0,0.3,0.1,0.0,0.0,0.0
status,a,a,a,a,a,a,a,u,a,a,...,a,a,a,a,i,a,a,a,a,a
value_form,0.1,0.4,0.2,0.1,0.5,1.5,0.1,0.0,1.4,0.0,...,0.0,0.0,0.3,0.2,0.0,0.0,0.2,0.0,0.0,0.2
value_season,0.5,12.2,1.0,1.0,8.8,12.0,4.0,0.0,14.0,1.8,...,0.2,1.1,4.7,6.0,0.2,1.3,2.7,0.0,0.0,0.2
web_name,CÃ©dric,Xhaka,Elneny,Holding,Partey,Ã˜degaard,Tierney,PÃ©pÃ©,White,Nketiah,...,Ronan,Campbell,Guedes,Matheus,KalajdÅ¾iÄ‡,Diego Costa,TraorÃ©,Fraser,Griffiths,Lembikisa
influence,2.4,291.8,4.2,2.4,221.0,352.2,60.8,0.0,242.2,22.8,...,0.6,5.6,87.2,100.8,0.0,9.2,48.0,0.0,0.0,1.4
creativity,1.6,278.5,5.3,0.1,141.3,368.2,40.0,0.0,193.7,37.9,...,0.4,3.0,139.5,162.4,0.0,30.2,16.6,0.0,0.0,0.8
threat,0.0,228.0,0.0,0.0,111.0,423.0,41.0,0.0,35.0,137.0,...,0.0,16.0,223.0,155.0,9.0,294.0,7.0,0.0,0.0,0.0
ict_index,0.4,79.8,1.0,0.2,47.4,114.5,14.2,0.0,47.0,19.4,...,0.1,2.4,44.9,41.7,0.7,33.0,7.2,0.0,0.0,0.2
expected_goals,0.00000,1.49000,0.00000,0.00000,1.04920,4.15090,0.26030,0.00000,0.30690,0.68800,...,0.00000,0.10080,1.19540,1.12060,0.26700,1.69940,0.06540,0.00000,0.00000,0.00000
expected_assists,0.00979,1.48360,0.04431,0.00022,0.56573,2.94519,0.22756,0.00000,1.38499,0.11913,...,0.00157,0.00854,0.45069,0.48977,0.00000,0.16199,0.06563,0.00000,0.00000,0.00309
expected_goal_involvements,0.00979,2.97360,0.04431,0.00022,1.61493,7.09609,0.48786,0.00000,1.69189,0.80713,...,0.00157,0.10934,1.64609,1.61037,0.26700,1.86139,0.13103,0.00000,0.00000,0.00309
expected_goals_conceded,0.04350,11.21090,0.83280,0.13740,9.06480,10.66750,2.06690,0.00000,11.05680,1.26440,...,0.03300,1.01740,11.30330,11.21510,0.61980,6.52790,6.40500,0.00000,0.00000,0.42960
corners_and_indirect_freekicks_text,,,,,,,,,,,...,,,,,,,,,,
direct_freekicks_text,,,,,,,,,,,...,,,,,,,,,,
penalties_text,,,,,,,,,,,...,,,,,,,,,,

In [17]:
slim_elements_df = elements_df.copy()
slim_elements_df.drop(['first_name','second_name','photo','corners_and_indirect_freekicks_text','direct_freekicks_text','penalties_text'], axis =1, inplace=True)
slim_elements_df

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100,100,58822,0,0,-3,3,0,2,1.0,...,544,157,266,82,376,141,402,148,0.0,0.0
1,<NA>,<NA>,84450,0,0,1,-1,1,3,2.5,...,171,99,125,63,42,20,83,28,1.08062,0.46312
2,100,100,153256,0,0,-3,3,1,3,1.5,...,551,284,184,98,343,150,209,69,0.95745,0.0
3,<NA>,<NA>,156074,0,0,-3,3,0,2,1.0,...,552,163,268,84,379,144,419,155,0.0,0.0
4,100,100,167199,0,0,-2,2,0,3,3.0,...,260,157,97,49,73,35,245,80,1.03233,0.65693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,100,0,18507,0,0,0,0,0,4,0.0,...,102,38,633,64,360,48,316,49,1.09223,0.21845
663,100,100,476502,0,0,0,0,0,3,1.0,...,392,213,205,102,326,142,449,168,0.94737,0.0
664,<NA>,<NA>,531363,0,0,0,0,0,4,0.0,...,417,72,558,58,629,72,555,69,0.0,0.0
665,<NA>,<NA>,449133,0,0,0,0,0,3,0.0,...,382,209,529,198,603,243,643,265,0.0,0.0
666,<NA>,<NA>,492776,0,0,0,0,0,2,1.3,...,617,203,182,52,372,137,629,230,0.0,0.0

In [18]:
for col in slim_elements_df:
        if slim_elements_df[col].dtype != 'string':
            continue
        try:
            slim_elements_df[col] = slim_elements_df[col].astype('float')
        except ValueError as e:
            print(f'{col}: {e}')

news: could not convert string to float: ''
news_added: could not convert string to float: '2022-09-16T13:30:06.551108Z'
status: could not convert string to float: 'a'
web_name: could not convert string to float: 'CÃ©dric'

In [19]:
slim_elements_df.T[slim_elements_df.dtypes == 'string']

,0,1,2,3,4,5,6,7,8,9,...,657,658,659,660,661,662,663,664,665,666
news,,,,,,,,Season-long loan to Nice,,,...,,,,,Knee injury - Expected back 01 Jun,,,,,
news_added,2022-09-16T13:30:06.551108Z,<NA>,2022-08-30T11:30:06.278675Z,<NA>,2022-09-25T09:00:06.484502Z,2022-09-18T20:00:06.315087Z,2022-09-26T13:00:06.430643Z,2022-08-26T07:24:29.541862Z,<NA>,<NA>,...,<NA>,<NA>,<NA>,2022-10-29T17:30:07.579364Z,2022-09-03T18:00:06.993294Z,2022-10-28T15:00:08.264065Z,2022-10-11T01:00:07.189826Z,<NA>,<NA>,<NA>
status,a,a,a,a,a,a,a,u,a,a,...,a,a,a,a,i,a,a,a,a,a
web_name,CÃ©dric,Xhaka,Elneny,Holding,Partey,Ã˜degaard,Tierney,PÃ©pÃ©,White,Nketiah,...,Ronan,Campbell,Guedes,Matheus,KalajdÅ¾iÄ‡,Diego Costa,TraorÃ©,Fraser,Griffiths,Lembikisa

In [20]:
slim_elements_df.expected_goals_per_90.value_counts()

0.0        310
0.05839      2
0.33626      1
0.00576      1
0.20678      1
          ...
0.38552      1
0.01649      1
0.22253      1
0.0656       1
0.01549      1
Name: expected_goals_per_90, Length: 357, dtype: Int64

In [21]:
slim_elements_df.assign(start_cost = lambda x : x.now_cost - x.cost_change_start)

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,start_cost
0,100,100,58822,0,0,-3,3,0,2,1.0,...,157,266,82,376,141,402,148,0.0,0.0,45
1,<NA>,<NA>,84450,0,0,1,-1,1,3,2.5,...,99,125,63,42,20,83,28,1.08062,0.46312,50
2,100,100,153256,0,0,-3,3,1,3,1.5,...,284,184,98,343,150,209,69,0.95745,0.0,45
3,<NA>,<NA>,156074,0,0,-3,3,0,2,1.0,...,163,268,84,379,144,419,155,0.0,0.0,45
4,100,100,167199,0,0,-2,2,0,3,3.0,...,157,97,49,73,35,245,80,1.03233,0.65693,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,100,0,18507,0,0,0,0,0,4,0.0,...,38,633,64,360,48,316,49,1.09223,0.21845,55
663,100,100,476502,0,0,0,0,0,3,1.0,...,213,205,102,326,142,449,168,0.94737,0.0,45
664,<NA>,<NA>,531363,0,0,0,0,0,4,0.0,...,72,558,58,629,72,555,69,0.0,0.0,45
665,<NA>,<NA>,449133,0,0,0,0,0,3,0.0,...,209,529,198,603,243,643,265,0.0,0.0,45
666,<NA>,<NA>,492776,0,0,0,0,0,2,1.3,...,203,182,52,372,137,629,230,0.0,0.0,40

In [22]:
slim_elements_df.status = slim_elements_df.status.map({'i' : 'injury', 'u' : 'unavailble', 'd' : 'decision', 'a' : 'available'})

In [23]:
import _pickle as cPickle
with open(r"elements.pickle", "wb") as output_file:
    cPickle.dump(slim_elements_df, output_file)

In [24]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split
import xgboost as xgb
from scipy.stats import uniform, randint

In [25]:
X = slim_elements_df[['influence','creativity','threat','expected_goals_per_90','expected_assists_per_90','starts_per_90']]
y = slim_elements_df.total_points

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3791)

In [27]:
X_train.dtypes

influence                  float64
creativity                 float64
threat                     float64
expected_goals_per_90      Float64
expected_assists_per_90    Float64
starts_per_90              Float64
dtype: object

In [28]:
def report_best_scores(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")



def display_scores(scores):
    print("Scores: {0}\nMean: {1:.3f}\nStd: {2:.3f}".format(scores, np.mean(scores), np.std(scores)))

In [29]:
xgb_model = xgb.XGBRegressor()

params = {
    'colsample_bytree' : uniform(0.7, 0.3),
    'gamma' : uniform(0, 0.5),
    'learning_rate' : uniform(0.03, 0.3),
    'max_depth' : randint(2, 6),
    'n_estimators' : randint(100, 150),
    'subsample' : uniform(0.6, 0.4)
}

search = RandomizedSearchCV(xgb_model, param_distributions=params, random_state=3791, n_iter=200, cv=3, verbose=1, return_train_score=True)

search.fit(X_train, y_train)

report_best_scores(search.cv_results_, 1)

"""
xgb_model.fit(X_train, y_train)
y_pred = xgb_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
"""

Fitting 3 folds for each of 200 candidates, totalling 600 fits
Model with rank: 1
Mean validation score: 0.913 (std: 0.009)
Parameters: {'colsample_bytree': 0.7211153621711471, 'gamma': 0.059223005411420615, 'learning_rate': 0.09064203218319923, 'max_depth': 3, 'n_estimators': 122, 'subsample': 0.9133790808098412}

'\nxgb_model.fit(X_train, y_train)\ny_pred = xgb_model.predict(X_test)\nmse = mean_squared_error(y_test, y_pred)\n'

In [30]:
y_pred = search.best_estimator_.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mse

45.92709305621939

In [31]:
r2 = r2_score(y_test, y_pred)
r2

0.9059859516010019

In [32]:
slim_elements_df.element_type.value_counts()

3    286
2    234
4     77
1     70
Name: element_type, dtype: Int64

In [33]:
check = slim_elements_df[['id','web_name','element_type','now_cost']]

In [34]:
check['y_test'] = y_test
check.dropna(how='any', inplace=True)
check['y_pred'] = y_pred

/tmp/ipykernel_11190/2138216554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check['y_test'] = y_test
/tmp/ipykernel_11190/2138216554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check.dropna(how='any', inplace=True)
/tmp/ipykernel_11190/2138216554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check['y_pred'] = y_pred

In [35]:
check.sort_values('y_test', ascending=False).head(11)

      id   web_name  element_type  now_cost  y_test     y_pred
96    80      Toney             4        74      83  17.166922
137  111   Trossard             3        71      80   7.238916
23    26     Saliba             2        53      74  42.096783
14    16    Gabriel             2        52      72  35.809341
497  376       Pope             1        53      70  42.842049
376  279    Firmino             4        81      69  30.624594
523  398  Henderson             1        47      67  49.047649
378  281    Alisson             1        55      65   0.082976
445  335   Rashford             3        67      62  53.282578
1      3      Xhaka             3        51      62  51.041420
637  478         SÃ¡             1        50      61   0.082976

In [36]:

check.loc[check.y_test != 0].sort_values('y_test', ascending=False).head(20)

      id   web_name  element_type  now_cost  y_test     y_pred
96    80      Toney             4        74      83  17.166922
137  111   Trossard             3        71      80   7.238916
23    26     Saliba             2        53      74  42.096783
14    16    Gabriel             2        52      72  35.809341
497  376       Pope             1        53      70  42.842049
376  279    Firmino             4        81      69  30.624594
523  398  Henderson             1        47      67  49.047649
378  281    Alisson             1        55      65   0.082976
1      3      Xhaka             3        51      62  51.041420
445  335   Rashford             3        67      62  53.282578
281  210   MitroviÄ‡             4        68      61  25.308262
637  478         SÃ¡             1        50      61   0.082976
214  169        Eze             3        57      60   8.041781
577  428        Son             3       116      53   7.672131
460  519    Eriksen             3        63      50  50.504353
579  430       Dier             2        52      50   0.082976
33    31   MartÃ­nez             1        49      50   8.279550
197  152     Guaita             1        45      48  23.923586
42    40    Watkins             4        71      46   0.082976
597  448    PeriÅ¡iÄ‡             2        55      45  52.877121

In [37]:
full_y_pred = search.best_estimator_.predict(X)

In [38]:
slim_elements_df.team

0       1
1       1
2       1
3       1
4       1
       ..
662    20
663    20
664    20
665    20
666    20
Name: team, Length: 667, dtype: Int64

In [39]:
full_test = slim_elements_df[['id','web_name','team','element_type','now_cost']]
full_test['predict_points'] = full_y_pred
full_test['actual_points'] = y

/tmp/ipykernel_11190/3857854741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_test['predict_points'] = full_y_pred
/tmp/ipykernel_11190/3857854741.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_test['actual_points'] = y

In [40]:
full_test

,id,web_name,team,element_type,now_cost,predict_points,actual_points
0,1,CÃ©dric,1,2,42,1.658569,2
1,3,Xhaka,1,3,51,59.257935,62
2,4,Elneny,1,3,42,6.226771,4
3,5,Holding,1,2,42,1.271105,4
4,6,Partey,1,3,48,40.345520,42
...,...,...,...,...,...,...,...
662,625,Diego Costa,20,4,55,10.143930,7
663,629,TraorÃ©,20,3,45,10.171195,12
664,657,Fraser,20,4,45,0.082976,0
665,658,Griffiths,20,3,45,0.082976,0
666,664,Lembikisa,20,2,40,2.056752,1

In [41]:
with open(r"../Data/test_optimize.pickle", "wb") as output_file:
    cPickle.dump(full_test, output_file)