In [4]:

import pandas as pd
import numpy as np
import pickle
import scipy as spy
import requests
import seaborn as sns

SyntaxError: invalid syntax (1340055284.py, line 7)

In [175]:
json = data_collection.FPL_Data_Collection().get_full_json()

In [176]:
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

## EDA

In [177]:
elements_df = pd.DataFrame(json['elements']).convert_dtypes()
element_types_df = pd.DataFrame(json['element_types']).convert_dtypes()
teams_df = pd.DataFrame(json['teams']).convert_dtypes()

In [178]:
elements_df.loc[elements_df.second_name == 'Haaland']

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
423,100,100,223094,0,0,7,-7,5,4,3.0,...,3,1,176,22,2,1,1,1,0.08687,0.43436

### Element Types

In [179]:
element_types_df.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],70
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],234
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],286
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],77

### Elements

In [180]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100,100,58822,0,0,-3,3,0,2,1.2,...,544,157,261,81,376,141,401,148,0.0,0.0
1,<NA>,<NA>,84450,0,0,1,-1,1,3,2.8,...,171,99,136,62,42,20,83,28,0.07719,0.46312
2,100,100,153256,0,0,-3,3,1,3,1.2,...,551,284,262,128,343,150,209,69,0.0,0.0
3,<NA>,<NA>,156074,0,0,-3,3,0,2,0.8,...,552,163,317,108,379,144,419,155,0.0,0.0
4,100,100,167199,0,0,-2,2,0,3,5.2,...,260,157,44,22,73,35,245,80,0.09385,0.65693

In [181]:
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [182]:
elements_df[['first_name','second_name','now_cost']]

    first_name     second_name  now_cost
0       Cédric    Alves Soares        42
1       Granit           Xhaka        51
2      Mohamed          Elneny        42
3          Rob         Holding        42
4       Thomas          Partey        48
..         ...             ...       ...
662      Diego  Da Silva Costa        55
663   Boubacar          Traoré        45
664     Nathan          Fraser        45
665     Harvey       Griffiths        45
666     Dexter       Lembikisa        40

[667 rows x 3 columns]

In [183]:
elements_df.describe().T

,count,mean,std,min,25%,50%,75%,max
chance_of_playing_next_round,404.0,65.779703,45.757463,0.0,0.0,100.0,100.0,100.0
chance_of_playing_this_round,402.0,56.716418,48.592808,0.0,0.0,100.0,100.0,100.0
code,667.0,227334.731634,149621.707974,11974.0,109389.5,198849.0,245621.5,601975.0
cost_change_event,667.0,-0.010495,0.139317,-1.0,0.0,0.0,0.0,1.0
cost_change_event_fall,667.0,0.010495,0.139317,-1.0,0.0,0.0,0.0,1.0
cost_change_start,667.0,-1.08096,1.704802,-6.0,-2.0,-1.0,0.0,9.0
cost_change_start_fall,667.0,1.08096,1.704802,-9.0,0.0,1.0,2.0,6.0
dreamteam_count,667.0,0.263868,0.609681,0.0,0.0,0.0,0.0,5.0
element_type,667.0,2.554723,0.82995,1.0,2.0,3.0,3.0,4.0
event_points,667.0,1.230885,2.407584,-1.0,0.0,0.0,1.0,16.0
id,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
now_cost,667.0,49.271364,11.482189,38.0,43.0,45.0,52.0,128.0
team,667.0,10.457271,5.677194,1.0,6.0,10.0,15.0,20.0
team_code,667.0,25.586207,26.52971,1.0,7.0,14.0,36.0,94.0
total_points,667.0,18.311844,21.624253,-1.0,0.0,9.0,31.0,123.0
transfers_in,667.0,287679.533733,744148.013804,0.0,3582.5,25476.0,171484.0,5784217.0
transfers_in_event,667.0,10946.281859,35873.638136,0.0,58.0,383.0,3548.0,440226.0
transfers_out,667.0,287679.533733,664719.494116,3.0,8186.5,40491.0,208805.0,5307742.0
transfers_out_event,667.0,10946.281859,29226.382536,0.0,125.0,883.0,7022.0,360522.0
minutes,667.0,431.4003,469.843217,0.0,0.0,221.0,847.0,1350.0
goals_scored,667.0,0.598201,1.560741,0.0,0.0,0.0,0.0,18.0
assists,667.0,0.535232,1.110908,0.0,0.0,0.0,1.0,10.0
clean_sheets,667.0,1.356822,1.855548,0.0,0.0,0.0,3.0,9.0
goals_conceded,667.0,6.910045,7.880356,0.0,0.0,3.0,13.0,32.0
own_goals,667.0,0.029985,0.170674,0.0,0.0,0.0,0.0,1.0
penalties_saved,667.0,0.010495,0.128087,0.0,0.0,0.0,0.0,2.0
penalties_missed,667.0,0.013493,0.127805,0.0,0.0,0.0,0.0,2.0
yellow_cards,667.0,0.775112,1.258167,0.0,0.0,0.0,1.0,6.0
red_cards,667.0,0.017991,0.133018,0.0,0.0,0.0,0.0,1.0
saves,667.0,1.323838,7.444696,0.0,0.0,0.0,0.0,64.0
bonus,667.0,1.409295,2.659693,0.0,0.0,0.0,2.0,21.0
bps,667.0,78.847076,92.457655,-3.0,0.0,36.0,138.0,517.0
starts,667.0,0.329835,0.470506,0.0,0.0,0.0,1.0,1.0
influence_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
influence_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
creativity_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
creativity_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
threat_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
threat_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
ict_index_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
ict_index_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
corners_and_indirect_freekicks_order,78.0,2.641026,1.38615,1.0,1.25,2.0,4.0,6.0
direct_freekicks_order,59.0,2.135593,1.007859,1.0,1.0,2.0,3.0,4.0
penalties_order,59.0,2.237288,1.103896,1.0,1.0,2.0,3.0,5.0
expected_goals_per_90,667.0,0.006588,0.028503,0.0,0.0,0.0,0.0,0.50006
saves_per_90,667.0,0.113669,0.59642,0.0,0.0,0.0,0.0,4.53846
expected_assists_per_90,667.0,0.004288,0.015384,0.0,0.0,0.0,0.001405,0.20957
expected_goal_involvements_per_90,667.0,0.010876,0.034719,0.0,0.0,0.0,0.003475,0.52273
expected_goals_conceded_per_90,667.0,0.073934,0.176495,0.0,0.0,0.0,0.09737,1.72332
goals_conceded_per_90,667.0,1.246462,2.656306,0.0,0.0,1.08,1.615,45.0
now_cost_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
now_cost_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
form_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
form_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
points_per_game_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
points_per_game_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
selected_rank,667.0,334.0,192.690598,1.0,167.5,334.0,500.5,667.0
selected_rank_type,667.0,110.98051,79.354989,1.0,42.0,94.0,177.0,286.0
starts_per_90,667.0,0.042075,0.095437,0.0,0.0,0.0,0.073145,1.25
clean_sheets_per_90,667.0,0.151824,0.195415,0.0,0.0,0.0,0.28571,1.40625

In [184]:
elements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 88 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          404 non-null    Int64
 1   chance_of_playing_this_round          402 non-null    Int64
 2   code                                  667 non-null    Int64
 3   cost_change_event                     667 non-null    Int64
 4   cost_change_event_fall                667 non-null    Int64
 5   cost_change_start                     667 non-null    Int64
 6   cost_change_start_fall                667 non-null    Int64
 7   dreamteam_count                       667 non-null    Int64
 8   element_type                          667 non-null    Int64
 9   ep_next                               667 non-null    string
 10  ep_this                               667 non-null    string
 11  event_points                          667 non-null    Int64
 12  first_name                            667 non-null    string
 13  form                                  667 non-null    string
 14  id                                    667 non-null    Int64
 15  in_dreamteam                          667 non-null    boolean
 16  news                                  667 non-null    string
 17  news_added                            404 non-null    string
 18  now_cost                              667 non-null    Int64
 19  photo                                 667 non-null    string
 20  points_per_game                       667 non-null    string
 21  second_name                           667 non-null    string
 22  selected_by_percent                   667 non-null    string
 23  special                               667 non-null    boolean
 24  squad_number                          0 non-null      object
 25  status                                667 non-null    string
 26  team                                  667 non-null    Int64
 27  team_code                             667 non-null    Int64
 28  total_points                          667 non-null    Int64
 29  transfers_in                          667 non-null    Int64
 30  transfers_in_event                    667 non-null    Int64
 31  transfers_out                         667 non-null    Int64
 32  transfers_out_event                   667 non-null    Int64
 33  value_form                            667 non-null    string
 34  value_season                          667 non-null    string
 35  web_name                              667 non-null    string
 36  minutes                               667 non-null    Int64
 37  goals_scored                          667 non-null    Int64
 38  assists                               667 non-null    Int64
 39  clean_sheets                          667 non-null    Int64
 40  goals_conceded                        667 non-null    Int64
 41  own_goals                             667 non-null    Int64
 42  penalties_saved                       667 non-null    Int64
 43  penalties_missed                      667 non-null    Int64
 44  yellow_cards                          667 non-null    Int64
 45  red_cards                             667 non-null    Int64
 46  saves                                 667 non-null    Int64
 47  bonus                                 667 non-null    Int64
 48  bps                                   667 non-null    Int64
 49  influence                             667 non-null    string
 50  creativity                            667 non-null    string
 51  threat                                667 non-null    string
 52  ict_index                             667 non-null    string
 53  starts                                667 non-null    Int64
 54  expected_goals                        667 non-null    string
 55  expected_assists                      667 non-null    string
 56  expected_goal_involvements            667 non-null    string
 57  expected_goals_conceded               667 non-null    string
 58  influence_rank                        667 non-null    Int64
 59  influence_rank_type                   667 non-null    Int64
 60  creativity_rank                       667 non-null    Int64
 61  creativity_rank_type                  667 non-null    Int64
 62  threat_rank                           667 non-null    Int64
 63  threat_rank_type                      667 non-null    Int64
 64  ict_index_rank                        667 non-null    Int64
 65  ict_index_rank_type                   667 non-null    Int64
 66  corners_and_indirect_freekicks_order  78 non-null     Int64
 67  corners_and_indirect_freekicks_text   667 non-null    string
 68  direct_freekicks_order                59 non-null     Int64
 69  direct_freekicks_text                 667 non-null    string
 70  penalties_order                       59 non-null     Int64
 71  penalties_text                        667 non-null    string
 72  expected_goals_per_90                 667 non-null    Float64
 73  saves_per_90                          667 non-null    Float64
 74  expected_assists_per_90               667 non-null    Float64
 75  expected_goal_involvements_per_90     667 non-null    Float64
 76  expected_goals_conceded_per_90        667 non-null    Float64
 77  goals_conceded_per_90                 667 non-null    Float64
 78  now_cost_rank                         667 non-null    Int64
 79  now_cost_rank_type                    667 non-null    Int64
 80  form_rank                             667 non-null    Int64
 81  form_rank_type                        667 non-null    Int64
 82  points_per_game_rank                  667 non-null    Int64
 83  points_per_game_rank_type             667 non-null    Int64
 84  selected_rank                         667 non-null    Int64
 85  selected_rank_type                    667 non-null    Int64
 86  starts_per_90                         667 non-null    Float64
 87  clean_sheets_per_90                   667 non-null    Float64
dtypes: Float64(8), Int64(52), boolean(2), object(1), string(25)
memory usage: 490.0+ KB

### Teams

In [185]:
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1200,1270,1160,1230,1160,1240,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1090,1100,1110,1110,1070,1090,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1050,1070,1070,1110,1040,1070,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1150,1100,1150,1140,1170,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1140,1140,1170,1160,1150,1170,131

In [186]:
teams_df.columns

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [187]:
teams_df.describe().T

,count,mean,std,min,25%,50%,75%,max
code,20.0,25.75,27.332023,1.0,6.75,15.5,36.75,94.0
draw,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
id,20.0,10.5,5.91608,1.0,5.75,10.5,15.25,20.0
loss,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
played,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
points,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
position,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
strength,20.0,3.25,0.786398,2.0,3.0,3.0,3.25,5.0
win,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
strength_overall_home,20.0,1135.25,83.21619,1045.0,1090.0,1100.0,1162.5,1350.0
strength_overall_away,20.0,1165.0,89.648436,1070.0,1100.0,1145.0,1222.5,1370.0
strength_attack_home,20.0,1137.0,72.627384,1050.0,1090.0,1120.0,1162.5,1340.0
strength_attack_away,20.0,1156.5,76.727474,1050.0,1107.5,1140.0,1190.0,1360.0
strength_defence_home,20.0,1141.0,81.943498,1040.0,1087.5,1140.0,1160.0,1340.0
strength_defence_away,20.0,1164.0,80.811672,1070.0,1107.5,1145.0,1202.5,1360.0
pulse_id,20.0,32.6,42.909206,1.0,8.5,17.5,28.0,131.0

In [188]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   code                   20 non-null     Int64
 1   draw                   20 non-null     Int64
 2   form                   0 non-null      object
 3   id                     20 non-null     Int64
 4   loss                   20 non-null     Int64
 5   name                   20 non-null     string
 6   played                 20 non-null     Int64
 7   points                 20 non-null     Int64
 8   position               20 non-null     Int64
 9   short_name             20 non-null     string
 10  strength               20 non-null     Int64
 11  team_division          0 non-null      object
 12  unavailable            20 non-null     boolean
 13  win                    20 non-null     Int64
 14  strength_overall_home  20 non-null     Int64
 15  strength_overall_away  20 non-null     Int64
 16  strength_attack_home   20 non-null     Int64
 17  strength_attack_away   20 non-null     Int64
 18  strength_defence_home  20 non-null     Int64
 19  strength_defence_away  20 non-null     Int64
 20  pulse_id               20 non-null     Int64
dtypes: Int64(16), boolean(1), object(2), string(2)
memory usage: 3.6+ KB

## Cleaning

In [189]:
elements_df.T[elements_df.dtypes == 'string']

,0,1,2,3,4,5,6,7,8,9,...,657,658,659,660,661,662,663,664,665,666
ep_next,1.2,2.8,1.2,0.8,5.2,10.2,1.2,0.0,6.8,0.8,...,0.3,0.0,3.3,0.7,0.0,-0.3,2.7,0.0,0.0,1.3
ep_this,1.2,2.8,1.2,0.8,5.2,10.2,1.2,0.0,6.8,0.8,...,-0.2,-0.5,2.8,0.2,0.0,0.0,2.2,-0.5,-0.5,0.8
first_name,Cédric,Granit,Mohamed,Rob,Thomas,Martin,Kieran,Nicolas,Benjamin,Eddie,...,Connor,Chem,Gonçalo Manuel,Matheus Luiz,Sasa,Diego,Boubacar,Nathan,Harvey,Dexter
form,0.7,2.3,0.7,0.3,4.7,9.7,0.7,0.0,6.3,0.3,...,0.3,0.0,3.3,0.7,0.0,-0.3,2.7,0.0,0.0,1.0
news,,,,,,,,Season-long loan to Nice,,,...,,,,,Knee injury - Expected back 01 Jun,,,,,
news_added,2022-09-16T13:30:06.551108Z,<NA>,2022-08-30T11:30:06.278675Z,<NA>,2022-09-25T09:00:06.484502Z,2022-09-18T20:00:06.315087Z,2022-09-26T13:00:06.430643Z,2022-08-26T07:24:29.541862Z,<NA>,<NA>,...,<NA>,<NA>,<NA>,2022-10-29T17:30:07.579364Z,2022-09-03T18:00:06.993294Z,2022-10-28T15:00:08.264065Z,2022-10-11T01:00:07.189826Z,<NA>,<NA>,<NA>
photo,58822.jpg,84450.jpg,153256.jpg,156074.jpg,167199.jpg,184029.jpg,192895.jpg,195735.jpg,198869.jpg,205533.jpg,...,198842.jpg,461026.jpg,181284.jpg,465351.jpg,429414.jpg,18507.jpg,476502.jpg,531363.jpg,449133.jpg,492776.jpg
points_per_game,1.0,4.4,1.3,1.0,3.8,5.9,1.6,0.0,4.7,1.0,...,1.0,1.0,2.3,2.4,1.0,1.2,1.5,0.0,0.0,1.0
second_name,Alves Soares,Xhaka,Elneny,Holding,Partey,Ødegaard,Tierney,Pépé,White,Nketiah,...,Ronan,Campbell,Ganchinho Guedes,Nunes,Kalajdzic,Da Silva Costa,Traoré,Fraser,Griffiths,Lembikisa
selected_by_percent,0.1,3.7,0.7,0.1,0.5,14.2,0.8,0.1,10.6,0.3,...,0.1,0.4,0.2,0.1,0.0,0.3,0.1,0.0,0.0,0.0
status,a,a,a,a,a,a,a,u,a,a,...,a,a,a,a,i,a,a,a,a,a
value_form,0.2,0.5,0.2,0.1,1.0,1.5,0.1,0.0,1.3,0.0,...,0.1,0.0,0.6,0.1,0.0,-0.1,0.6,0.0,0.0,0.2
value_season,0.5,12.2,1.0,1.0,8.8,12.0,4.0,0.0,14.0,1.8,...,0.2,1.1,4.7,6.0,0.2,1.3,2.7,0.0,0.0,0.2
web_name,Cédric,Xhaka,Elneny,Holding,Partey,Ødegaard,Tierney,Pépé,White,Nketiah,...,Ronan,Campbell,Guedes,Matheus,Kalajdžić,Diego Costa,Traoré,Fraser,Griffiths,Lembikisa
influence,2.4,291.8,4.2,2.4,221.0,352.2,60.8,0.0,242.2,22.8,...,0.6,5.6,87.2,100.8,0.0,9.2,48.0,0.0,0.0,1.4
creativity,1.6,278.5,5.3,0.1,141.3,368.2,40.0,0.0,193.7,37.9,...,0.4,3.0,139.5,162.4,0.0,30.2,16.6,0.0,0.0,0.8
threat,0.0,228.0,0.0,0.0,111.0,423.0,41.0,0.0,35.0,137.0,...,0.0,16.0,223.0,155.0,9.0,294.0,7.0,0.0,0.0,0.0
ict_index,0.4,79.8,1.0,0.2,47.4,114.5,14.2,0.0,47.0,19.4,...,0.1,2.4,44.9,41.7,0.7,33.0,7.2,0.0,0.0,0.2
expected_goals,0.00000,0.00000,0.00000,0.00000,0.00000,1.16560,0.00000,0.00000,0.03760,0.00000,...,0.00000,0.00000,0.18060,0.02480,0.00000,0.00000,0.03290,0.00000,0.00000,0.00000
expected_assists,0.00000,0.00226,0.00000,0.00000,0.02290,0.03286,0.00000,0.00000,0.58608,0.00000,...,0.00000,0.00000,0.01786,0.00060,0.00000,0.00000,0.01457,0.00000,0.00000,0.00309
expected_goal_involvements,0.00000,0.00226,0.00000,0.00000,0.02290,1.19846,0.00000,0.00000,0.62368,0.00000,...,0.00000,0.00000,0.19846,0.02540,0.00000,0.00000,0.04747,0.00000,0.00000,0.00309
expected_goals_conceded,0.00000,0.00000,0.00000,0.00000,0.49280,0.49280,0.00000,0.00000,0.49280,0.00000,...,0.00000,0.00000,1.80820,0.03760,0.00000,0.00000,1.80820,0.00000,0.00000,0.33230
corners_and_indirect_freekicks_text,,,,,,,,,,,...,,,,,,,,,,
direct_freekicks_text,,,,,,,,,,,...,,,,,,,,,,
penalties_text,,,,,,,,,,,...,,,,,,,,,,

In [190]:
slim_elements_df = elements_df.copy()
slim_elements_df.drop(['first_name','second_name','photo','corners_and_indirect_freekicks_text','direct_freekicks_text','penalties_text'], axis =1, inplace=True)
slim_elements_df

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100,100,58822,0,0,-3,3,0,2,1.2,...,544,157,261,81,376,141,401,148,0.0,0.0
1,<NA>,<NA>,84450,0,0,1,-1,1,3,2.8,...,171,99,136,62,42,20,83,28,0.07719,0.46312
2,100,100,153256,0,0,-3,3,1,3,1.2,...,551,284,262,128,343,150,209,69,0.0,0.0
3,<NA>,<NA>,156074,0,0,-3,3,0,2,0.8,...,552,163,317,108,379,144,419,155,0.0,0.0
4,100,100,167199,0,0,-2,2,0,3,5.2,...,260,157,44,22,73,35,245,80,0.09385,0.65693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,100,0,18507,0,0,0,0,0,4,-0.3,...,102,38,667,77,360,48,316,49,0.0,0.21845
663,100,100,476502,0,0,0,0,0,3,2.7,...,392,213,109,47,326,142,450,169,0.23684,0.0
664,<NA>,<NA>,531363,0,0,0,0,0,4,0.0,...,417,72,592,66,629,72,559,69,0.0,0.0
665,<NA>,<NA>,449133,0,0,0,0,0,3,0.0,...,382,209,563,217,603,243,644,267,0.0,0.0
666,<NA>,<NA>,492776,0,0,0,0,0,2,1.3,...,617,203,232,72,372,137,636,231,0.0,0.0

In [191]:
for col in slim_elements_df:
        if slim_elements_df[col].dtype != 'string':
            continue
        try:
            slim_elements_df[col] = slim_elements_df[col].astype('float')
        except ValueError as e:
            print(f'{col}: {e}')

news: could not convert string to float: ''
news_added: could not convert string to float: '2022-09-16T13:30:06.551108Z'
status: could not convert string to float: 'a'
web_name: could not convert string to float: 'Cédric'

In [192]:
slim_elements_df.T[slim_elements_df.dtypes == 'string']

,0,1,2,3,4,5,6,7,8,9,...,657,658,659,660,661,662,663,664,665,666
news,,,,,,,,Season-long loan to Nice,,,...,,,,,Knee injury - Expected back 01 Jun,,,,,
news_added,2022-09-16T13:30:06.551108Z,<NA>,2022-08-30T11:30:06.278675Z,<NA>,2022-09-25T09:00:06.484502Z,2022-09-18T20:00:06.315087Z,2022-09-26T13:00:06.430643Z,2022-08-26T07:24:29.541862Z,<NA>,<NA>,...,<NA>,<NA>,<NA>,2022-10-29T17:30:07.579364Z,2022-09-03T18:00:06.993294Z,2022-10-28T15:00:08.264065Z,2022-10-11T01:00:07.189826Z,<NA>,<NA>,<NA>
status,a,a,a,a,a,a,a,u,a,a,...,a,a,a,a,i,a,a,a,a,a
web_name,Cédric,Xhaka,Elneny,Holding,Partey,Ødegaard,Tierney,Pépé,White,Nketiah,...,Ronan,Campbell,Guedes,Matheus,Kalajdžić,Diego Costa,Traoré,Fraser,Griffiths,Lembikisa

In [208]:
slim_elements_df.expected_goals_per_90.value_counts()

0.0        532
0.00317      2
0.19486      1
0.00634      1
0.03308      1
          ...
0.04216      1
0.01387      1
0.01316      1
0.06691      1
0.00779      1
Name: expected_goals_per_90, Length: 135, dtype: Int64

In [194]:
slim_elements_df.assign(start_cost = lambda x : x.now_cost - x.cost_change_start)

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90,start_cost
0,100,100,58822,0,0,-3,3,0,2,1.2,...,157,261,81,376,141,401,148,0.0,0.0,45
1,<NA>,<NA>,84450,0,0,1,-1,1,3,2.8,...,99,136,62,42,20,83,28,0.07719,0.46312,50
2,100,100,153256,0,0,-3,3,1,3,1.2,...,284,262,128,343,150,209,69,0.0,0.0,45
3,<NA>,<NA>,156074,0,0,-3,3,0,2,0.8,...,163,317,108,379,144,419,155,0.0,0.0,45
4,100,100,167199,0,0,-2,2,0,3,5.2,...,157,44,22,73,35,245,80,0.09385,0.65693,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,100,0,18507,0,0,0,0,0,4,-0.3,...,38,667,77,360,48,316,49,0.0,0.21845,55
663,100,100,476502,0,0,0,0,0,3,2.7,...,213,109,47,326,142,450,169,0.23684,0.0,45
664,<NA>,<NA>,531363,0,0,0,0,0,4,0.0,...,72,592,66,629,72,559,69,0.0,0.0,45
665,<NA>,<NA>,449133,0,0,0,0,0,3,0.0,...,209,563,217,603,243,644,267,0.0,0.0,45
666,<NA>,<NA>,492776,0,0,0,0,0,2,1.3,...,203,232,72,372,137,636,231,0.0,0.0,40

In [195]:
slim_elements_df.status = slim_elements_df.status.map({'i' : 'injury', 'u' : 'unavailble', 'd' : 'decision', 'a' : 'available'})

In [205]:
import _pickle as cPickle
with open(r"elements.pickle", "wb") as output_file:
    cPickle.dump(slim_elements_df, output_file)

In [220]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split
import xgboost as xgb
from scipy.stats import uniform, randint

In [212]:
X = slim_elements_df[['influence','creativity','threat','expected_goals_per_90','expected_assists_per_90','starts_per_90']]
y = slim_elements_df.total_points

In [213]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3791)

In [214]:
X_train.dtypes

influence                  float64
creativity                 float64
threat                     float64
expected_goals_per_90      Float64
expected_assists_per_90    Float64
starts_per_90              Float64
dtype: object

In [215]:
def report_best_scores(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")



def display_scores(scores):
    print("Scores: {0}\nMean: {1:.3f}\nStd: {2:.3f}".format(scores, np.mean(scores), np.std(scores)))

In [216]:
xgb_model = xgb.XGBRegressor()

params = {
    'colsample_bytree' : uniform(0.7, 0.3),
    'gamma' : uniform(0, 0.5),
    'learning_rate' : uniform(0.03, 0.3),
    'max_depth' : randint(2, 6),
    'n_estimators' : randint(100, 150),
    'subsample' : uniform(0.6, 0.4)
}

search = RandomizedSearchCV(xgb_model, param_distributions=params, random_state=3791, n_iter=200, cv=3, verbose=1, return_train_score=True)

search.fit(X_train, y_train)

report_best_scores(search.cv_results_, 1)

"""
xgb_model.fit(X_train, y_train)
y_pred = xgb_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
"""

Fitting 3 folds for each of 200 candidates, totalling 600 fits
Model with rank: 1
Mean validation score: 0.913 (std: 0.008)
Parameters: {'colsample_bytree': 0.9073517798000859, 'gamma': 0.1753748246071795, 'learning_rate': 0.08484098554457564, 'max_depth': 3, 'n_estimators': 144, 'subsample': 0.6038341551478577}

'\nxgb_model.fit(X_train, y_train)\ny_pred = xgb_model.predict(X_test)\nmse = mean_squared_error(y_test, y_pred)\n'

In [218]:
y_pred = search.best_estimator_.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mse

46.73314596116823

In [221]:
r2 = r2_score(y_test, y_pred)
r2

0.90433593868324

In [223]:
check = slim_elements_df[['id','web_name']]

In [224]:
check['y_test'] = y_test
check.dropna(how='any', inplace=True)
check['y_pred'] = y_pred

/tmp/ipykernel_3374/2138216554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check['y_test'] = y_test
/tmp/ipykernel_3374/2138216554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check.dropna(how='any', inplace=True)
/tmp/ipykernel_3374/2138216554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check['y_pred'] = y_pred

In [225]:
check.sort_values('y_test', ascending=False).head(11)

      id   web_name  y_test     y_pred
96    80      Toney      83  14.707362
137  111   Trossard      80   7.193353
23    26     Saliba      74  46.553112
14    16    Gabriel      72  42.398918
497  376       Pope      70  44.954414
376  279    Firmino      69  32.222984
523  398  Henderson      67  46.996761
378  281    Alisson      65   0.231850
445  335   Rashford      62  56.742653
1      3      Xhaka      62  57.142033
637  478         Sá      61   0.231850

In [228]:

check.loc[check.y_test != 0].sort_values('y_test', ascending=False).head(20)

      id   web_name  y_test     y_pred
96    80      Toney      83  14.707362
137  111   Trossard      80   7.193353
23    26     Saliba      74  46.553112
14    16    Gabriel      72  42.398918
497  376       Pope      70  44.954414
376  279    Firmino      69  32.222984
523  398  Henderson      67  46.996761
378  281    Alisson      65   0.231850
1      3      Xhaka      62  57.142033
445  335   Rashford      62  56.742653
281  210   Mitrović      61  28.822546
637  478         Sá      61   0.231850
214  169        Eze      60   6.836476
577  428        Son      53   5.159409
460  519    Eriksen      50  52.573116
579  430       Dier      50   0.231850
33    31   Martínez      50   1.435881
197  152     Guaita      48  21.609169
42    40    Watkins      46   0.231850
597  448    Perišić      45  55.653919