import main
main.main()

In [1]:
import pickle

file_path = '../Data/data.pickle'

with open(file_path, 'rb') as f:
    data = pickle.load(f)

In [2]:
data.keys()

dict_keys(['MF', 'FW', 'FB', 'GK', 'AM', 'CB'])

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(data)

In [5]:
from modules import data_collection

In [6]:
current = data_collection.get_current_fpl()[0]

In [7]:
current[['web_name', 'element_type']].loc[current['web_name'] == 'Ward']

    web_name  element_type
251     Ward             2

In [8]:
df['AM'].count()

96

In [9]:
df['MF'].count()

114

In [10]:
MF = df['MF'].fillna(df['AM']).dropna()

In [11]:
FB = df['FB'].fillna(df['CB']).dropna()

In [12]:
FW = df['FW'].dropna()
GK = df['GK'].dropna()

In [13]:
MF = MF.apply(lambda x: pd.Series(x))

In [14]:
mf_names = MF[0].apply(lambda x: x.split('/')[-1].replace('-',' '))

In [15]:
MF = MF[1].apply(pd.Series).set_index(mf_names)

In [16]:
curr_test = current[['total_points', 'element_type', 'first_name','second_name','web_name']]

In [17]:
curr_test.set_index(curr_test['first_name']+' '+curr_test['second_name'], inplace = True)

In [18]:
MF = pd.merge(MF, curr_test[['total_points','element_type']], left_index = True, right_index = True)

In [19]:
curr_test.loc[curr_test.element_type == 3].sort_index()

,total_points,element_type,first_name,second_name,web_name
Abdoulaye Doucouré,76,3,Abdoulaye,Doucouré,A.Doucoure
Adam Lallana,47,3,Adam,Lallana,Lallana
Albert Sambi Lokonga,23,3,Albert,Sambi Lokonga,Sambi
Alejandro Garnacho,39,3,Alejandro,Garnacho,Garnacho
Alex Iwobi,126,3,Alex,Iwobi,Iwobi
...,...,...,...,...,...
Yasin Ayari,3,3,Yasin,Ayari,Ayari
Yegor Yarmolyuk,0,3,Yegor,Yarmolyuk,Yarmolyuk
Youri Tielemans,86,3,Youri,Tielemans,Tielemans
Yves Bissouma,27,3,Yves,Bissouma,Bissouma
Ângelo Gabriel Borges Damaceno,0,3,Ângelo Gabriel,Borges Damaceno,Ângelo

In [20]:
MF_df = pd.merge(MF, curr_test, left_index = True, right_index = True)