import main
main.main()

In [1]:
import pickle

file_path = 'data.pickle'

with open(file_path, 'rb') as f:
    data = pickle.load(f)

In [2]:
data.keys()

dict_keys(['MF', 'FW', 'FB', 'GK', 'AM', 'CB'])

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(data)

In [5]:
from modules import data_collection

In [6]:
current = data_collection.get_current_fpl()[0]

In [7]:
current[['web_name', 'element_type']].loc[current['web_name'] == 'Ward']

    web_name  element_type
245     Ward             2
367     Ward             1

In [8]:
df['AM'].count()

96

In [9]:
df['MF'].count()

114

In [10]:
MF = df['MF'].fillna(df['AM']).dropna()

In [11]:
FB = df['FB'].fillna(df['CB']).dropna()

In [12]:
FW = df['FW'].dropna()
GK = df['GK'].dropna()

In [13]:
MF = MF.apply(lambda x: pd.Series(x))

In [14]:
mf_names = MF[0].apply(lambda x: x.split('/')[-1].replace('-',' '))

In [15]:
MF = MF[1].apply(pd.Series).set_index(mf_names)

In [16]:
MF

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,,,,,,,,,,,,,,,,,,,,,
Kevin De Bruyne,0.26,96,0.20,94,2.32,96,0.64,99,0.49,99,...,1.07,5,0.32,2,0.90,19,0.44,9,0.41,17
Jadon Sancho,0.26,62,0.20,45,1.25,7,0.13,29,0.27,80,...,1.03,31,0.43,42,1.29,77,0.26,23,0.17,11
Mohamed Salah,0.55,97,0.49,99,3.31,92,0.30,86,0.24,68,...,0.53,3,0.18,7,0.57,10,0.12,6,0.21,12
Raheem Sterling,0.33,79,0.25,64,1.67,25,0.15,37,0.18,46,...,0.85,18,0.07,1,0.74,26,0.26,24,0.30,26
Casemiro,0.11,70,0.14,82,1.55,81,0.11,66,0.12,68,...,3.55,96,1.55,86,2.55,99,2.58,99,2.72,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ben Pearson,0.00,13,0.02,7,0.62,27,0.08,56,0.05,29,...,1.85,37,1.77,90,0.93,25,1.31,64,0.77,42
Joe Rothwell,0.00,12,0.02,10,0.27,4,0.09,54,0.09,53,...,1.77,33,0.80,28,1.24,51,0.62,17,0.09,1
Anthony Elanga,0.00,1,0.14,18,2.56,76,0.16,38,0.16,34,...,0.96,26,0.48,52,0.96,49,0.80,86,1.44,93
Conor Coventry,0.00,13,0.02,17,0.55,21,0.12,71,0.07,48,...,2.01,47,1.40,76,1.22,58,1.58,78,1.58,86
Connor Ronan,0.00,13,0.03,23,0.97,48,0.22,90,0.17,87,...,1.11,5,0.82,25,0.52,1,0.82,28,0.30,7

In [27]:
curr_test = current[['total_points', 'element_type', 'first_name','second_name','web_name']]

In [37]:
curr_test.set_index(curr_test['first_name']+' '+curr_test['second_name'], inplace = True)

In [31]:
pd.merge(MF, curr_test, left_index = True, right_index = True)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, total_points, element_type, first_name, second_name, web_name]
Index: []

[0 rows x 47 columns]

In [38]:
MF.sort_index()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,,,,,,,,,,,,,,,,,,,,,
Abdoulaye Doucoure,0.25,95,0.14,84,1.12,59,0.12,69,0.14,78,...,1.93,42,0.75,25,1.50,78,0.62,17,0.75,46
Adam Armstrong,0.07,5,0.13,14,1.65,24,0.07,9,0.09,5,...,0.96,27,0.28,19,1.03,53,0.41,50,0.34,32
Adam Lallana,0.25,58,0.11,8,1.00,4,0.12,28,0.12,19,...,1.12,40,0.25,15,0.75,27,0.12,8,1.00,89
Adama Traore,0.13,19,0.08,2,1.15,6,0.06,8,0.23,64,...,0.90,22,0.19,9,0.45,4,0.83,86,2.24,99
Albert Sambi Lokonga,0.00,12,0.01,7,0.22,2,0.00,8,0.04,13,...,1.41,14,1.19,61,0.67,5,1.19,61,0.97,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Will Hughes,0.00,12,0.04,22,0.60,19,0.12,67,0.11,65,...,3.35,96,1.91,98,1.67,88,0.96,46,0.48,23
Willian,0.22,48,0.15,23,1.81,35,0.18,47,0.19,47,...,0.57,4,0.40,38,0.57,10,0.35,38,0.35,35
Yoane Wissa,0.42,91,0.33,89,1.90,37,0.18,47,0.15,31,...,0.89,22,0.36,31,0.59,12,0.83,86,1.30,93
Youri Tielemans,0.08,58,0.04,22,1.12,59,0.04,28,0.17,87,...,2.60,79,1.08,52,1.40,73,0.92,43,1.04,62
Yves Bissouma,0.00,12,0.02,10,0.44,13,0.00,8,0.04,19,...,1.32,10,0.96,43,1.58,84,0.79,33,0.70,42

In [41]:
curr_test.loc[curr_test.element_type == 3].sort_index()

,total_points,element_type,first_name,second_name,web_name
Abdoulaye Doucouré,65,3,Abdoulaye,Doucouré,A.Doucouré
Adam Forshaw,14,3,Adam,Forshaw,Forshaw
Adam Lallana,47,3,Adam,Lallana,Lallana
Adama Traoré Diarra,64,3,Adama,Traoré Diarra,Adama
Ainsley Maitland-Niles,38,3,Ainsley,Maitland-Niles,Maitland-Niles
...,...,...,...,...,...
Yegor Yarmolyuk,0,3,Yegor,Yarmolyuk,Yarmolyuk
Yoane Wissa,109,3,Yoane,Wissa,Wissa
Youri Tielemans,80,3,Youri,Tielemans,Tielemans
Yves Bissouma,25,3,Yves,Bissouma,Bissouma
Zidane Iqbal,0,3,Zidane,Iqbal,Iqbal

In [42]:
MF_df = pd.merge(MF, curr_test, left_index = True, right_index = True)

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,total_points,element_type,first_name,second_name,web_name
Adam Armstrong,0.07,5,0.13,14,1.65,24,0.07,9,0.09,5,...,53,0.41,50,0.34,32,49,4,Adam,Armstrong,A.Armstrong
Adam Lallana,0.25,58,0.11,8,1.00,4,0.12,28,0.12,19,...,27,0.12,8,1.00,89,47,3,Adam,Lallana,Lallana
Albert Sambi Lokonga,0.00,12,0.01,7,0.22,2,0.00,8,0.04,13,...,5,1.19,61,0.97,58,23,3,Albert,Sambi Lokonga,Sambi
Alex Iwobi,0.05,46,0.07,44,1.12,59,0.19,87,0.16,86,...,37,0.77,30,0.25,5,123,3,Alex,Iwobi,Iwobi
Alexander Isak,0.51,95,0.38,94,2.78,81,0.06,8,0.13,22,...,69,0.51,61,1.25,93,98,4,Alexander,Isak,Isak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wilfried Zaha,0.28,70,0.19,41,2.52,74,0.08,13,0.11,11,...,38,0.35,39,0.24,17,95,3,Wilfried,Zaha,Zaha
Will Hughes,0.00,12,0.04,22,0.60,19,0.12,67,0.11,65,...,88,0.96,46,0.48,23,31,3,Will,Hughes,Hughes
Yoane Wissa,0.42,91,0.33,89,1.90,37,0.18,47,0.15,31,...,12,0.83,86,1.30,93,109,3,Yoane,Wissa,Wissa
Youri Tielemans,0.08,58,0.04,22,1.12,59,0.04,28,0.17,87,...,73,0.92,43,1.04,62,80,3,Youri,Tielemans,Tielemans
Yves Bissouma,0.00,12,0.02,10,0.44,13,0.00,8,0.04,19,...,84,0.79,33,0.70,42,25,3,Yves,Bissouma,Bissouma